<div class="card details-cards editable" data-endpoint="{{ endpoint }}">
  <div class="card-header">
    <h3 class="card-title">{{ title }}</h3>
    {% if user.is_authenticated and user.id == fiche.createur.id %}
    <div class="edit-controls">
      <button class="btn-default small-btn" onclick="edit($(this).closest('.card'))">Éditer</button>
    </div>
    {% endif %}
  </div>
  <div class="card-body centre">
    {% if content_template %}
      <div class="pretty-content">
	{% include content_template %}
      </div>
      <div class="edit-content" style="display: none">
	{{ content|linebreaksbr }}
      </div>
    {% else %}
      <div class="edit-content">
	{{ content|linebreaksbr }}
      </div>
    {% endif %}

  </div>
</div>
