*.pyc
*~
secret_key
db.sqlite3
fiches/media/images/persos/
fiches/media/images/users/
fiches/media/images/objets/
fiches/media/images/site/quest/Portraits
fiches/media/images/uploads/
#*#
bower_components/
recaptcha_sk
fiches/migrations/
firp/settings.py
*.bak
ICONS
src/
static/admin/
autocomplete_light/
*.png
*.rb
*.ttf
recrutement
/firp/settings_local.py
*.PNG
