body {
    background-color: #000000;
    color: #fefefe;
}

h1 a {
    color: #830205;
}

.page-header {
    border: 1px solid #470002;
    border-radius: 5px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #470002;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 1px 1px #a10005;
}

.page-header h1 {
    flex: 1;
    margin: 0;
}

#content {
    margin-left: 7%;
    margin-right: 7%;
}

.image-garithos {
    height: 200px;
}


.date {
    color: #470002;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.character-form textarea, .character-form input {
    width: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default {
    background-color: #000000;
    border-color: #470002;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-image: url("/static/fiches/images/wood.jpg");
    background-size: 100% 100%;
    background-color: #000000;
    border-color: #470002;
}

ul {
    list-style-type: none;
    margin: 10px 30px;
    padding: 0;
    overflow: hidden;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 400px;
    height: auto;
}

.media-right {
    width : 45%;
}

.media-object {
    margin: 20px;
    width: 100%;
    height: auto;
    border: 10px double #470002;
    border-radius: 5px;
}

.panel {
    border: 1px;
    background-color: #000000;
    border-color: #470002;
}

.panel .panel-heading {
    background-image: url("/static/fiches/images/separator.jpg");
    background-color: #000000;
    padding: 10px 15px;
    border: 1px solid #470002;
    border-radius: 5px;
    color: #830205;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-color: #470002;
    text-shadow: -1px -1px #000;
    display: flex;
}

.panel-heading .h1 {
    border: 1px solid #470002;
    border-radius: 5px;
    flex: 1;
}

.panel-body {
    border: 1px solid #470002;
    border-radius: 5px;
    margin-top: 0px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    margin-bottom: 10px;
}

.navbar-default .navbar-nav > li > a{
    color: #fefefe;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #a72121;
}

#page-title {
    flex: 1 ;
}

#creator {
    color: #fefefe;
    display: flex;
    flex-flow: column;
}

#edition {
    display: flex;
    flex-flow: column;
    margin: 0 10px;
    align-items: center;
}

#edition .btn-default {
    margin: 15% 0;
}

.btn-default {
    /* background-image: url("/static/fiches/images/button.png"); */
    color: #ddd;
    background: #470002;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    border: 1px solid #6e1618;
}

.btn-default:focus,
.btn-default:hover {
    /* background-image: url("/static/fiches/images/button-hover.png"); */
    color: #fefefe;
    background: #7e0609;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    border: 1px solid #6e1618;
}


#characters .form {
    display: block;
}

input, textarea {
    color: initial;
}

select {
    color: initial;
}


a {
    color: #fefefe;
}

li {
    font-size: 15px;
    margin: 1%;
}

.navbar-nav > li {
    margin: 0;
}

p {
    font-size: 30px;
}

a:focus,
a:hover {
    color: #a72121;
    text-decoration: underline;
}