body {
    background-color: #000000;
    color: #fefefe;
}

h1 a {
    color: #830205;
}

.page-header {
    border: 1px solid #470002;
    border-radius: 5px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #470002;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 1px 1px #a10005;
}

.page-header h1 {
    flex: 1;
    margin: 0;
}

#content {
    margin-left: 7%;
    margin-right: 7%;
}

.image-garithos {
    width: 20%;
}

.date {
    color: #470002;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.character-form textarea, .character-form input {
    width: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default {
    background-color: #000000;
    border-color: #470002;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 0;
    min-height: 20px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 5px;
}

/* .navbar-default .navbar-collapse, .navbar-default .navbar-form { */
/* } */

.navbar-right {
    margin: 0px 5px;
}

.container-fluid {
    background-image: url("/static/fiches/images/wood.jpg");
    /* background-size: 100% 100%; */
    /* background-image: linear-gradient(to bottom,#000000 0,#2d0001 100%); */
    background-color: #000000;
    border-color: #470002;
}

.navbar-collapse {
    padding-right:0;
}

ul {
    list-style-type: none;
    margin: 2% 3%;
    padding: 0;
    /* overflow: hidden; */
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 400px;
    height: auto;
}

.media-right {
    padding-top: 2%;
    width : 40%;
    padding-bottom: 1%;
}

.media-object {
    width: 100%;
    height: auto;
    border: 10px double #470002;
    border-radius: 5px;
    padding: 1%;
}

.media {
    overflow: visible;
}

.panel {
    border: 1px;
    background-color: #000000;
    border-color: #470002;
}

.panel .panel-heading {
    background-image: url("/static/fiches/images/separator.jpg");
    background-color: #000000;
    padding: 10px 15px;
    border: 1px solid #470002;
    border-radius: 5px;
    color: #830205;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-color: #470002;
    text-shadow: -1px -1px #000;
    display: flex;
}

.panel-heading .h1 {
    border: 1px solid #470002;
    border-radius: 5px;
    flex: 1;
}

.panel-body {
    border: 1px solid #470002;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.navbar-default .navbar-nav > li > a{
    color: #fefefe;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #a72121;
}

.account {

}

.account input, textarea {
    color: initial;
}

#page-title {
    flex: 1 ;
}

#creator {
    color: #fefefe;
    display: flex;
    flex-flow: column;
}

#edition {
    display: flex;
    flex-flow: column;
    margin: 0 10px;
    align-items: center;
}


.btn-default {
    /* background-image: url("/static/fiches/images/button.png"); */
    color: #ddd;
    background: #470002;
    font-weight: bold;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #6e1618;
}

.btn-default:focus,
.btn-default:hover {
    /* background-image: url("/static/fiches/images/button-hover.png"); */
    color: #fefefe;
    background: #7e0609;
    font-weight: bold;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #6e1618;
}


#liste table, tr, td, th{
    border: 1px solid #470002;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
}

#liste table tr td a {
    display:block;
    height:100%;
    width:100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
}

#liste .media-object {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border: none;
    object-fit: cover;
}

#char_form label {
    margin-left: 1%;
    margin-right: 0.5%;
}

#char_form input {
    margin-right: 1%;
}

#char_form #description {
    margin-left: 1%;
}

#char_form input[type=number]{
    width: 8%;
}

input, textarea {
    color: initial;
}

select {
    color: initial;
}


a {
    color: #fefefe;
}

li {
    font-size: 15px;
    margin: 1%;
}

#pagination li {
    margin: 0;
}


.navbar-nav > li {
    margin: 0;
}

/* p { */
/*     font-size: 30px; */
/* } */

a:focus,
a:hover {
    color: #a72121;
    text-decoration: underline;
}

h3 {
    margin-left: 3%;
}

#details-panels h3{
    margin: 0;
    color: #bf0005;
}

#details-panels h4{
    margin: 0 auto;
    color: #bf0005;
    text-align: center;
    color: #fefefe;
    text-shadow: 1px 1px #fefefe;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fefefe;
    text-decoration: none;
    background-color: #470002;
    border: 1px solid #000;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background-color: #7e0609;
    border-color: #000;
}

#center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#bouton {
    color: #ddd;
    background: #470002;
    font-weight: bold;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #6e1618;
}

#icone {
    width: 64px;
    height: 64px;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

/* #localisation h3{ */

/*     text-align: center; */
/*     vertical-align: middle; */
/* } */

#stat {
    text-align: center;
}

#objet-right {
    padding-top: 2%;
    width : 60%;
}

#objet-middle {
    vertical-align: middle;
}

#stats-panel {
    padding: 0;
}

#objet-mediocre {
    color: #9D9D9D;
}

#objet-commun {
    color: white;
}

#objet-inhabituel {
    color: #1EFF00;
}

#objet-rare {
    color: #0070FF;
}

#objet-epique {
    color: #a335ee;
}

#objet-legendaire {
    color: #ff8000;
}

#objet-unique {
    color: #E6CC80;
}

#avantages {
    color: #019203;
}

#desavantages{
    color: #d60006;
}

.dropdown-menu {
    color: #fff;
    background: #470002;
    font-weight: bold;
}

.dropdown.open a {
    color: #fff;
    background-color: #470002;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bold;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #470002;
}

.navbar-default .navbar-nav > .open > a {
    background-image: none;
    background-color: #470002;
}

.tooltip.right {
    border: 1px solid #950004;
    padding: 0;
}

.inventory {
  display: flex;
  flex-wrap: wrap;
}

/* .container { */
/*     position: relative; */
/* } */

.bottomright {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 2px red, -2px -2px 2px red, 2px -2px 2px red, -2px 2px 2px red;
    font-weight: bold;
}

.inventory-object {
    width: 64px;
    height: 64px;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.number-inventory {
    position: relative;
}

#red {
    font-size: 20px;
    color: red;
}

.progress-bar {
    background-image: linear-gradient(to bottom,#540507 0,#470002 100%);
}

#detail-perso {
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%
}

.pres-image {
    display: block;
    margin: 3% auto;
    width: 50%;
    border-radius: 2%;
}

.pres-text {
    display: block;
    margin: 3% 20%;
    font-size: 16px;
}

.pres-text:first-letter {
    font-size:52px;
    float:left;
    line-height: 52px;
    margin: 2px;
}

.a-g-classes {
    margin: 2% 0%;
}

.a-g-class {
    border: 2px solid #470002;
    border-radius : 10px;
    background-image: -webkit-linear-gradient(top, #001000, #1e0101);
    background-image: linear-gradient(to bottom, #001000, #1e0101);
    margin: 0% auto;
}

.level {
    width: 20px;
}