body {
    background-color: #000000;
    color: #fefefe;
}

h1 a {
    color: #830205;
}

.page-header {
    border: 1px solid #470002;
    border-radius: 5px;
    background-color: #000000;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #470002;
    font-size: 36pt;
    text-decoration: none;
    text-shadow: 1px 1px #a10005;
}

.page-header h1 {
    flex: 1;
    margin: 0;
}

.image-garithos {
    height: 200px;
}

.content {
    margin-left: 40px;
}

/* h1, h2, h3, h4 { */
/*     font-family: 'Arial', cursive; */
/*     color: #470002; */
/* } */

.date {
    color: #470002;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.character-form textarea, .character-form input {
    width: 100%;
}

.character {
    margin-bottom: 10px;
}

.character h1 a, .character h1 a:visited {
    color: #470002;
		 }

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default {
    background-color: #000000;
    border-color: #470002;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-image: url("/static/fiches/images/wood.jpg");
    background-size: 100% 100%;
    background-color: #000000;
    border-color: #470002;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 400px;
    height: auto;
}

.media-object {
    margin: 20px;
    width: 520px;
    height: auto;
    border: 10px double #470002;
    border-radius: 5px;
}

.panel {
    border: 1px;
    background-color: #000000;
    border-color: #470002;
}

.panel .panel-heading {
    background-image: url("/static/fiches/images/separator.jpg");
    background-color: #000000;
    padding: 10px 15px;
    border: 1px solid #470002;
    border-radius: 5px;
    color: #830205;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    border-color: #470002;
    text-shadow: -1px -1px #000;
    display: flex;
}

.panel-heading .h1 {
    border: 1px solid #470002;
    border-radius: 5px;
    flex: 1;
}

/* #detail p { */
/*     color: white; */
/*     /\* text-transform: uppercase; *\/ */
/* } */

/* #detail li { */
/*     color: white; */
/* } */

/* form label{ */
/*     color: white; */
/* } */



input {
    color: initial;
}

select {
    color: initial;
}

a {
    color: #fefefe;
}

textarea {
    color: initial;
}

a:focus,
a:hover {
    color: #a72121;
    text-decoration: underline;
}

.navbar-default .navbar-nav > li > a{
    color: #fefefe;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #a72121;
}

li {
    font-size: 15px;
}

p {
    font-size: 30px;
}

.panel-body {
    border: 1px solid #470002;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#creator {
    color: #fefefe;
}

#page-title{
    flex: 1 ;
}