{% load staticfiles %}

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript">
    function countChars(countfrom,displayto) {
    var len = document.getElementById(countfrom).value.length;
    document.getElementById(displayto).innerHTML = len;
    }
  </script>

  {% block script %}{% endblock %}

  <!-- Link to my css -->
  <link rel="stylesheet" href="{%static 'fiches/fiches.css' %}">

  <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
  <div class="page-header">
    <h1><a href="/">Fiches de personnages</a></h1>
    <img src="/fiches/media/images/site/garithos.jpg" class="image-garithos"/>
  </div>

  <nav class="navbar navbar-default">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="/">Accueil</a></li>
	<li><a href="/personnages/">Personnages</a></li>
	<li><a href="/creer/">Créer un personnage</a></li>
	<li><a href="/utilisateurs/">Utilisateurs</a></li>
      </ul>
      <div class="navbar-right">
	{% if user.is_authenticated %}
	<span>Bienvenue, <a href="{% url 'utilisateur' user.id %}">{{ user.username }}</a> !  </span>
	<a class="btn btn-default navbar-btn" href="/utilisateurs/gestion_profil/">Créer/editer profil</a>
	<a class="btn btn-default navbar-btn" href="{% url 'account_logout' %}">Se déconnecter</a>
	{% else %}
	<a class="btn btn-default navbar-btn" href="{% url 'account_login' %}">Se connecter</a>
	<a class="btn btn-default navbar-btn" href="{% url 'account_signup' %}">S'inscrire</a>
	{% endif %}
      </div>
    </div>
  </nav>
  <!-- <div id="sidebar"> -->
  <!--   {% block sidebar %} -->
  <!--   <ul> -->
  <!--     <li><a href="/">Home</a></li> -->
  <!--     <li><a href="/creer/">Formulaire</a></li> -->
  <!--   </ul> -->
  <!--   {% endblock %} -->
  <!-- </div> -->
  <div id="content">
    <div id="index" class ="panel panel-default">

      <div class="panel-heading">
	<h1 id="page-title">{% block page-title %}Titre{% endblock %}</h1>
	<span id="edition">{% block edition %}{% endblock %}</span>
	<span id="creator">{% block user %}{% endblock %}</span>
      </div>
      <div id="body" class="panel-body">
	{% block content %}Contenu par défaut. Vous ne devriez pas être là :o{% endblock %}

      </div>
    </div>
  </div>
</div>
</div>
</body>
