{% extends "footer.html" %}

{% load staticfiles %}

{% block contenu %}



  <!-- Link to my css -->
  <link rel="stylesheet" href="{%static 'fiches/fiches.css' %}">

  <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
  <div class="page-header">
    <h1><a href="/">Fiches de personnages</a></h1>
    <img src="/fiches/media/images/site/garithos.jpg" class="image-garithos"/>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid" id="woody">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
	</button>
	<!-- <a class="navbar-brand" href="#">Les fils de Garithos</a> -->
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
      <!-- <div id="navbar" class="navbar-collapse collapse"> -->
	<ul class="nav navbar-nav">
      	  <li><a href="{% url 'index' %}">Accueil</a></li>
	  <li class="dropdown">
            <a href="{% url 'personnages' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personnages <span class="caret"></span></a>
	    <ul class="dropdown-menu">
      	      <li><a href="{% url 'personnages' %}">Personnages</a></li>
	      <li role="separator" class="divider"></li>
	      <li><a href="{% url 'creer_fiche' %}">Créer un personnage</a></li>
	    </ul>
	  </li>
	  {% if perms.fiches.fdg %}
	  <li class="dropdown">
            <a href="{% url 'objets' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Objets <span class="caret"></span></a>
	    <ul class="dropdown-menu">
	      <li><a href="{% url 'objets' %}">Objets</a></li>
	      <li role="separator" class="divider"></li>
	      <li><a href="{% url 'creer_objet' %}">Créer un objet</a></li>
	      <li><a href="{% url 'creer_armure' %}">Créer une armure</a></li>
	      <li><a href="{% url 'creer_case' %}">Créer une case</a></li>
	    </ul>
	  </li>
	  {% endif %}
	  {% if perms.fiches.fdg %}
	  <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rpg<span class="caret"></span></a>
	    <ul class="dropdown-menu">
	      <li>Avant-garde</li>
	      <li><a href="{% url 'avant_garde_pres' %}">Présentation</a></li>
	      <li><a href="{% url 'avant_garde_persos' %}">Personnages</a></li>
	      <li><a href="{% url 'creer_perso' %}">Créer un personnage</a></li>
	      <li role="separator" class="divider"></li>
	    </ul>
	  </li>
	  {% endif %}
	  <li><a href="{% url 'utilisateurs' %}">Utilisateurs</a></li>
	  {% if perms.fiches.fdg %}
	  <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Galleries<span class="caret"></span></a>
	    <ul class="dropdown-menu">
	      <li><a href="{% url 'gallerie' %}">Icônes</a></li>
	      <li><a href="{% url 'upload_gallery' %}">Images téléchargées</a></li>
	    </ul>
	  </li>
	  {% endif %}
	</ul>
	<div class="navbar-right">
	  {% if user.is_authenticated %}
	  <span>Bienvenue, <a href="{% url 'utilisateur' user.id %}">{{ user.username }}</a> !  </span>
	  <a class="btn btn-default navbar-btn" href="{% url 'account_logout' %}">Se déconnecter</a>
	  {% else %}
	  <a class="btn btn-default navbar-btn" href="{% url 'account_signup' %}">S'inscrire</a>
	  <a class="btn btn-default navbar-btn" href="{% url 'account_login' %}">Se connecter</a>
	  {% endif %}
	</div>
      </div>
    </div>
  </nav>

  <div id="content">
    <div id="index" class ="panel panel-default">

      <div class="panel-heading">
	<h1 id="page-title">{% block page-title %}Titre{% endblock %}</h1>
	<span id="edition">{% block edition %}{% endblock %}</span>
	<span id="creator">{% block user %}{% endblock %}</span>
      </div>
      <div id="body" class="panel-body">
	{% block content %}Contenu par défaut. Vous ne devriez pas être là :o{% endblock %}

      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
