{% load staticfiles %}

<head>
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript">
    function countChars(countfrom,displayto) {
    var len = document.getElementById(countfrom).value.length;
    document.getElementById(displayto).innerHTML = len;
    }
  </script>

  <script type="text/javascript">
    {% block script %}{% endblock %}
  </script>

  <!-- Link to my css -->
  <link rel="stylesheet" href="{%static 'fiches/fiches.css' %}">

  <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
  <div class="page-header">
    <h1><a href="/">Fiches de personnages</a></h1>
    <img src="/fiches/media/images/site/garithos.jpg" class="image-garithos"/>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
	</button>
	<!-- <a class="navbar-brand" href="#">Les fils de Garithos</a> -->
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
      <!-- <div id="navbar" class="navbar-collapse collapse"> -->
	<ul class="nav navbar-nav">
      	  <li><a href="{% url 'index' %}">Accueil</a></li>
	  <li class="dropdown">
            <a href="{% url 'personnages' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personnages <span class="caret"></span></a>
	    <ul class="dropdown-menu">
      	      <li><a href="{% url 'personnages' %}">Personnages</a></li>
	      <li role="separator" class="divider"></li>
	      <li><a href="{% url 'creer_fiche' %}">Créer un personnage</a></li>
	    </ul>
	  </li>
	  {% if perms.fiches.objet_ok %}
	  <li class="dropdown">
            <a href="{% url 'objets' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Objets <span class="caret"></span></a>
	    <ul class="dropdown-menu">
	      <li><a href="{% url 'objets' %}">Objets</a></li>
	      <li role="separator" class="divider"></li>
	      <li><a href="{% url 'creer_objet' %}">Créer un objet</a></li>
	      <li><a href="{% url 'creer_armure' %}">Créer une armure</a></li>
	      <li><a href="{% url 'creer_case' %}">Créer une case</a></li>
	      <li><a href="{% url 'creer_inventaire' %}">Créer un inventaire</a></li>
	      <li><a href="{% url 'creer_equipement' %}">Créer un équipement</a></li>
	    </ul>
	  </li>
	  {% endif %}
	  {% if perms.avant_garde.avant_garde %}
	  <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rpg<span class="caret"></span></a>
	    <ul class="dropdown-menu">
	      <li>Avant-garde</li>
	      <li><a href="{% url 'avant_garde_pres' %}">Présentation</a></li>
	      <li><a href="{% url 'avant_garde_persos' %}">Personnages</a></li>
	      <li><a href="{% url 'creer_perso' %}">Créer un personnage</a></li>
	      <li role="separator" class="divider"></li>
	    </ul>
	  </li>
	  {% endif %}
	  <li><a href="{% url 'utilisateurs' %}">Utilisateurs</a></li>
	</ul>
	<div class="navbar-right">
	  {% if user.is_authenticated %}
	  <span>Bienvenue, <a href="{% url 'utilisateur' user.id %}">{{ user.username }}</a> !  </span>
	  <a class="btn btn-default navbar-btn" href="{% url 'account_logout' %}">Se déconnecter</a>
	  {% else %}
	  <a class="btn btn-default navbar-btn" href="{% url 'account_signup' %}">S'inscrire</a>
	  <a class="btn btn-default navbar-btn" href="{% url 'account_login' %}">Se connecter</a>
	  {% endif %}
	</div>
      </div>
    </div>
  </nav>

  <div id="content">
    <div id="index" class ="panel panel-default">

      <div class="panel-heading">
	<h1 id="page-title">{% block page-title %}Titre{% endblock %}</h1>
	<span id="edition">{% block edition %}{% endblock %}</span>
	<span id="creator">{% block user %}{% endblock %}</span>
      </div>
      <div id="body" class="panel-body">
	{% block content %}Contenu par défaut. Vous ne devriez pas être là :o{% endblock %}

      </div>
    </div>
  </div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" id="bottom-bar">
  <div class="container">
    <a target="_self" href="">
      <img class="navbar-button" src="/fiches/media/images/site/UI-MicroButton-World-Up.PNG" alt="Carte">
    </a>
    <a target="_self" href="{% url 'index' %}">
      <img class="navbar-button" src="/fiches/media/images/site/UI-MicroButton-Spellbook-Up.PNG" alt="Fiches">
    </a>
    <a target="_self" href="{% url 'quetes' %}">
      <img class="navbar-button" src="/fiches/media/images/site/UI-MICROBUTTON-QUEST-UP.PNG" alt="Quêtes">
    </a>
    <a target="_self" href="">
      <img class="navbar-button" src="/fiches/media/images/site/UI-MICROBUTTON-SOCIALS-UP.PNG" alt="Forum">
    </a>
    <a target="_self" href="">
      <img class="navbar-button" src="/fiches/media/images/site/UI-MicroButton-World-Up.PNG" alt="Carte">
    </a>
  <!-- </div> -->
  <!-- <div class="navbar-right"> -->
    {% if user.is_authenticated %}
        <a target="_self" href="{% url 'utilisateur' user.id %}">
      <img class="navbar-button" src="/fiches/media/images/site/UI-MicroButton-Raid-Up.PNG" alt="Utilisateur">
	</a>
	<a target="_self" href="{% url 'account_logout' %}">
	  <img class="navbar-button" src="/fiches/media/images/site/logout.PNG" alt="Se déconnecter">
	</a>
	{% else %}
	<a target="_self" href="{% url 'account_signup' %}">
	  <img class="navbar-button" src="/fiches/media/images/site/register.PNG" alt="S'inscrire">
	</a>
	<a target="_self" href="{% url 'account_login' %}">
	  <img class="navbar-button" src="/fiches/media/images/site/login.PNG" alt="Se connecter">
	</a>
	{% endif %}
  </div>
</nav>
</body>
<footer>
  <div id="center">
    © Copyright Blizzard Entertainment<br>

    <img src="/fiches/media/images/site/GitHub-Mark-32px.png" class="github-logo"/>
    <a href="https://github.com/Marie-Donnie/firp">Retrouvez-nous sur Github</a>
  </div>
</footer>
