{% load staticfiles %}

<head>
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- Link to my css -->
  <link rel="stylesheet" href="{%static 'fiches/fiches.css' %}">

  <title>{{ error }}</title>
</head>
<body>

  <div class="error-garithos">
    <img src="/fiches/media/images/site/garithos3.png">
    <div class="error-text">
      {{ error_text }}
    </div>
    <div class="error-buttons">
      <a class="btn btn-default" href="{% url 'account_login' %}">Se connecter</a>
      <a class="btn btn-default" href="{% url 'index' %}">Revenir à l'acceuil</a>
    </div>
  </div>
</body>
