{% load staticfiles %}
<!doctype html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  {% block script %}{% endblock %}

  <!-- Link to my css -->
  <link rel="stylesheet" href="{%static 'footer.css' %}">

  {% block contenu_header %}{% endblock %}

{% block contenu %}{% endblock %}

<nav class="navbar navbar-default navbar-fixed-bottom" id="bottom-bar">
  <div class="container" id="bottom-bar-container">
    <a target="_self" href="https://www.filsdegarithos.ovh/" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/UI-MicroButton-Achievement-Up.PNG" alt="Accueil" data-toggle="tooltip" data-placement="top" title="Accueil">
    </a>
    <a target="_self" href="https://www.filsdegarithos.ovh/forum/" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/UI-MICROBUTTON-SOCIALS-UP.PNG" alt="Forum" data-toggle="tooltip" data-placement="top" title="Forum">
    </a>
    <a target="_self" href="{% url 'index' %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/UI-MicroButton-Sheet.PNG" alt="Fiches" data-toggle="tooltip" data-placement="top" title="Fiches">
    </a>
    <a target="_self" href="{% url 'campagnes' %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/UI-MicroButton-Talents-Up.PNG" alt="Campagnes" data-toggle="tooltip" data-placement="top" title="Campagnes">
    </a>
    <a target="_self" href="{% url 'quetes' %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/UI-MICROBUTTON-QUEST-UP.PNG" alt="Quêtes" data-toggle="tooltip" data-placement="top" title="Quêtes">
    </a>
    <a target="_self" href="{% url 'classes' %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/UI-MicroButton-Spellbook-Up.PNG" alt="Classes" data-toggle="tooltip" data-placement="top" title="Classes">
    </a>
    <a target="_self" href="{% url 'cartes' %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/UI-MicroButton-World-Up.PNG" alt="Carte" data-toggle="tooltip" data-placement="top" title="Carte">
    </a>
    {% if user.is_authenticated %}
    <a target="_self" href="{% url 'utilisateur' user.id %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/UI-MicroButton-Raid-Up.PNG" alt="Profil utilisateur" data-toggle="tooltip" data-placement="top" title="Profil utilisateur">
    </a>
    <a target="_self" href="{% url 'account_logout' %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/logout.PNG" alt="Se déconnecter" data-toggle="tooltip" data-placement="top" title="Se déconnecter">
    </a>
    {% else %}
    <a target="_self" href="{% url 'account_signup' %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/register.PNG" alt="S'inscrire" data-toggle="tooltip" data-placement="top" title="S'inscrire">
    </a>
    <a target="_self" href="{% url 'account_login' %}" class="bottom-bar-button">
      <img class="navbar-button bottom-bar-images" src="/fiches/media/images/site/login.PNG" alt="Se connecter" data-toggle="tooltip" data-placement="top" title="Se connecter">
    </a>
    {% endif %}
  </div>
</nav>
<footer>

</footer>
</body>
</html>
