{% extends "rpg/avant_garde/personnage.html" %}

{% load staticfiles %}
{% load static %}
{% load filters %}

{% block statistic %}
    <ul>
      <li>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/CCombat.PNG" alt="Capacité de combat" title="Capacité de combat">{{ cap_combat }}</a></span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/CTir.PNG" alt="Capacité de tir" title="Capacité de tir">{{ cap_tir }}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/Force.PNG" alt="Force" title="Force">{{ force }}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/Endu.PNG" alt="Endurance" title="Endurance">{{ endu }}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/Perception.PNG" alt="Perception" title="Perception">{{ perce }}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/Agi.PNG" alt="Agilité" title="Agilité">{{ agi }}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/Intell.PNG" alt="Intelligence" title="Intelligence">{{ intell }}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/Charisme.PNG" alt="Charisme" title="Charisme">{{ charisme }}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/FM.PNG" alt="Force mentale" title="Force mentale">{{ force_men}}</span>
</li>
<li><b>Points de vie :</b> {{ fiche.pv }}/{{ pv_max }}</li>
{% if mana %}
<li><b>Points de mana :</b> {{ mana }}</li>
{% endif %}
</ul>
{% endblock %}


{% block classe %}
  <div id="classe-ag-panel">
    <div class="panel panel-default" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Classe</h3>
      </div>
      <div class="panel-body centre">
	{% if fiche.classe != 5 %}
	<div class="classe-ag">
	  {% else %}
	  <div class="classe-ag-mage">
	    {% endif %}
	  <div class="container-fluid">
	    <div class="row niveau" id="niveau1">
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_01.PNG" alt="Niveau 1">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 1</h4>
		    {% block niveau1 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	    <div class="row niveau" id="niveau2" {% if fiche.niveau < 2 %} style="opacity: 0.2;" {% endif %}>
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_02.PNG" alt="Niveau 2">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 2</h4>
		    {% block niveau2 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	    <div class="row niveau" id="niveau3" {% if fiche.niveau < 3 %} style="opacity: 0.2;" {% endif %}>
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_03.PNG" alt="Niveau 3">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 3</h4>
		    {% block niveau3 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	    <div class="row niveau" id="niveau4" {% if fiche.niveau < 4 %} style="opacity: 0.2;" {% endif %}>
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_04.PNG" alt="Niveau 4">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 4</h4>
		    {% block niveau4 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	    <div class="row niveau" id="niveau5" {% if fiche.niveau < 5 %} style="opacity: 0.2;" {% endif %}>
		<div class="media">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_05.PNG" alt="Niveau 5">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 5</h4>
		    {% block niveau5 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	  </div>	 <!-- container-fluid -->
	</div>		 <!-- classe-ag -->
      </div>		 <!-- panel-body centre -->
    </div>		 <!-- panel panel-default -->
  </div>		 <!-- classe-ag-panel -->
{% endblock %}
