{% extends "rpg/avant_garde/personnage.html" %}

{% load staticfiles %}
{% load static %}
{% load filters %}

{% block contenu_header %}
<meta property="og:title" content="{{ fiche.prenom|capfirst }} {{ fiche.nom|capfirst }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.filsdegarithos.ovh{{ request.get_full_path }}" />
<meta property="og:image" content="https://www.filsdegarithos.ovh{{ fiche.image.url }}" />
<meta property="og:description" content="
CC : {% if fiche.pj == 'p' %}{{ cap_combat }}{% else %}{{ fiche.cap_combat }} {% endif %}, CT : {% if fiche.pj == 'p' %}{{ cap_tir }}{% else %}{{ fiche.cap_tir }} {% endif %}, F : {% if fiche.pj == 'p' %}{{ force }}{% else %}{{ fiche.force }} {% endif %}, E : {% if fiche.pj == 'p' %}{{ endu }}{% else %}{{ fiche.endu }} {% endif %}, A : {% if fiche.pj == 'p' %}{{ agi }}{% else %}{{ fiche.agi }} {% endif %}, I : {% if fiche.pj == 'p' %}{{ intell }}{% else %}{{ fiche.intell }} {% endif %}, C : {% if fiche.pj == 'p' %}{{ charisme }}{% else %}{{ fiche.charisme }} {% endif %}, FM : {% if fiche.pj == 'p' %}{{ force_men }}{% else %}{{ fiche.force_men }} {% endif %}, PV : {{ fiche.pv }}/{% if fiche.pj == 'p' %}{{ pv_max }}{% else %}{{ fiche.pv_max }} {% endif %}, Classe : {{ fiche.get_classe_display }}, Grade : {{ fiche.get_grade_rp_display }}, Niveau : {{ fiche.niveau }}" />
{% endblock %}



{% block statistic %}

 <script type="text/javascript">

function getCookie(name) {
var cookieValue = null;
if (document.cookie && document.cookie != '') {
var cookies = document.cookie.split(';');
for (var i = 0; i < cookies.length; i++) {
		    var cookie = jQuery.trim(cookies[i]);
		    // Does this cookie string begin with the name we want?
		    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
		    }
		    }
		    }
		    return cookieValue;
		    }
		    var csrftoken = getCookie('csrftoken');
		    function update_hp(elem) {
		    var url = $(elem).data("action")
		    var div = $(elem).closest("div.pv")
		    var nombre = +div.attr("data-pv")
		    var segments = url.split("/")
		    var delta = +segments.pop()
		    var nouveau_nombre = nombre+delta
		    segments.push(nouveau_nombre)
		    var url_finale = segments.join("/")
		    var progress_bar = div.find(".progress-bar")
		    var pv_max = +progress_bar.attr("aria-valuemax")
		    $.post(url_finale, null, function(result) {
		    div.attr("data-pv", nouveau_nombre)
		    $("span.pv").text(nouveau_nombre)
		    progress_bar.attr("aria-valuenow", nouveau_nombre).text(nouveau_nombre).css("width", (nouveau_nombre * 100 / pv_max) + "%")
		    })
		    }

	function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			    }

			    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

		    </script>

    <ul>
      <li>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/CCombat.PNG" alt="Capacité de combat" title="Capacité de combat">{% if fiche.pj == 'p' %}{{ cap_combat }}{% else %}{{ fiche.cap_combat }} {% endif %}</a></span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/CTir.PNG" alt="Capacité de tir" title="Capacité de tir">{% if fiche.pj == 'p' %}{{ cap_tir }}{% else %}{{ fiche.cap_tir }} {% endif %}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/Force.PNG" alt="Force" title="Force">{% if fiche.pj == 'p' %}{{ force }}{% else %}{{ fiche.force }} {% endif %}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/Endu.PNG" alt="Endurance" title="Endurance">{% if fiche.pj == 'p' %}{{ endu }}{% else %}{{ fiche.endu }} {% endif %}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/Perception.PNG" alt="Perception" title="Perception">{% if fiche.pj == 'p' %}{{ perce }}{% else %}{{ fiche.perce }} {% endif %}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/Agi.PNG" alt="Agilité" title="Agilité">{% if fiche.pj == 'p' %}{{ agi }}{% else %}{{ fiche.agi }} {% endif %}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/Intell.PNG" alt="Intelligence" title="Intelligence">{% if fiche.pj == 'p' %}{{ intell }}{% else %}{{ fiche.intell }} {% endif %}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/Charisme.PNG" alt="Charisme" title="Charisme">{% if fiche.pj == 'p' %}{{ charisme }}{% else %}{{ fiche.charisme }} {% endif %}</span>
<span class="statistics"><img class="statistic" src="{% get_media_prefix %}/images/site/rpg/FM.PNG" alt="Force mentale" title="Force mentale">{% if fiche.pj == 'p' %}{{ force_men }}{% else %}{{ fiche.force_men }} {% endif %}</span>
</li>
<li><div class="pv" data-pv="{{ fiche.pv }}"><b>Points de vie :</b> <span class="pv">{{ fiche.pv }}</span>/{% if fiche.pj == 'p' %}{{ pv_max }}{% else %}{{ fiche.pv_max }} {% endif %}
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{fiche.pv}}" aria-valuemin="0" aria-valuemax="{% if fiche.pj == 'p' %}{{ pv_max }}{% else %}{{ fiche.pv_max }}{% endif %}" style="min-width: 2em; width: {% if fiche.pj == 'p' %}{{ fiche.pv|pourcent:pv_max }}{% else %}{{ fiche.pv|pourcent:fiche.pv_max }}{% endif %}%">
	{{ fiche.pv }}
      </div> <!-- progress-bar -->
    </div>   <!-- progress -->
    {% if user.is_authenticated %}
    {% if user.id == fiche.createur.id or perms.fiches.admin %}
    <img class="statistic" src="{% get_media_prefix %}/images/site/Spell_ChargeNegative.PNG" alt="Objet" onclick="update_hp(this)" data-action="{% url 'changer_pv' fiche.id -1 %}">
    <img class="statistic" src="{% get_media_prefix %}/images/site/Spell_ChargePositive.PNG" alt="Objet" onclick="update_hp(this)" data-action="{% url 'changer_pv' fiche.id 1 %}">
    {% endif %}
    {% endif %}
    <div>
</li>
{% block mana %}
{% endblock %}
</ul>
{% endblock %}


{% block classe %}
  <div id="classe-ag-card">
    <div class="card card-default details-cards">
      <div class="card-header">
	<h3 class="card-title">Classe</h3>
      </div>
      <div class="card-body centre">
	{% if fiche.classe != 5 %}
	<div class="classe-ag">
	  {% else %}
	  <div class="classe-ag-mage">
	    {% endif %}
	  <div class="container-fluid">
	    <div class="row niveau" id="niveau1">
		<div class="media niveaux">
		  <div class="media-left media-middle align-self-center">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_01.PNG" alt="Niveau 1">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 1</h4>
		    {% block niveau1 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	    <div class="row niveau" id="niveau2" {% if fiche.niveau < 2 %} style="opacity: 0.2;" {% endif %}>
		<div class="media niveaux">
		  <div class="media-left media-middle align-self-center">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_02.PNG" alt="Niveau 2">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 2</h4>
		    {% block niveau2 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	    <div class="row niveau" id="niveau3" {% if fiche.niveau < 3 %} style="opacity: 0.2;" {% endif %}>
		<div class="media niveaux">
		  <div class="media-left media-middle align-self-center">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_03.PNG" alt="Niveau 3">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 3</h4>
		    {% block niveau3 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	    <div class="row niveau" id="niveau4" {% if fiche.niveau < 4 %} style="opacity: 0.2;" {% endif %}>
		<div class="media niveaux">
		  <div class="media-left media-middle align-self-center">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_04.PNG" alt="Niveau 4">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 4</h4>
		    {% block niveau4 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	    <div class="row niveau" id="niveau5" {% if fiche.niveau < 5 %} style="opacity: 0.2;" {% endif %}>
		<div class="media niveaux">
		  <div class="media-left media-middle">
		    <a href="#">
		      <img class=" level" src="{% get_media_prefix %}/images/site/rpg/Achievement_PVP_H_05.PNG" alt="Niveau 5 align-self-center">
		    </a>
		  </div> <!-- media-left media-middle -->
		  <div class="media-body">
		    <h4 class="media-heading niveau-heading">Niveau 5</h4>
		    {% block niveau5 %}{% endblock %}
		  </div> <!-- media-body -->
		</div>	 <!-- media -->
	    </div>	 <!-- row niveau -->
	  </div>	 <!-- container-fluid -->
	</div>		 <!-- classe-ag -->
      </div>		 <!-- card-body centre -->
    </div>		 <!-- card card-default -->
  </div>		 <!-- classe-ag-card -->
{% endblock %}
