{% extends "rpg/avant_garde/classe.html" %}

{% load static %}


{% block script %}

{% endblock %}

{% block niveau1 %}
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/ICONS/INV_FIRST_AID_70_MedicalKit.PNG" title="De 0 à 100, Permet d'appliquer les premiers soins aux blessés et préparer des anti-poisons." alt="Médecine"> Médecine
<span class="talentpoints">{{classe.medecine}}</span>
</div>
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/site/Intell.PNG" alt="Intelligence" title="Intelligence"> + 1 Intelligence
</div>

{% endblock %}

{% block niveau2 %}
{% if fiche.niveau > 1 %}
{% if chirurgie != 0 %}
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/ICONS/Trade_Tailoring.PNG" title="De 0 à 100, permet d'éviter les mutilations et sauver les blessés graves." alt="Chirurgie">Chirurgie
<span class="talentpoints">{{chirurgie}}</span>
</div>
{% elif classe.poison != 0 %}
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/ICONS/ABILITY_POISONS.PNG" title="De 0 à 100, permet de concocter de poisons" alt="Poison">Poison
<span class="talentpoints">{{classe.poison}}</span>
</div>
{% else %}
<div class="talent">
  <div class="talent">
  Vous avez le niveau pour un des talents
</div>
</div>
{% endif %}
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/site/rpg/FM.PNG" alt="Force mentale" title="Force mentale">  + 1 Force Mentale
</div>
{% endif %}
{% endblock %}

{% block niveau3 %}
{% if fiche.niveau > 2 %}
{% if classe.guerisseur %}
<div class="talent">
  <img class="talent-image" src="{% get_media_prefix %}/images/ICONS/INV_FIRST_AID_70_Splint.PNG" title="+ 1 Intelligence, augmente les pv rendus par la médecine de 1" alt="Guérisseur">Guérisseur
</div>
{% elif classe.alchimie != 0%}
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/ICONS/Trade_Alchemy_PotionA1.PNG" title="De 0 à 100, permet de concocter des fioles contenant des produits mortels et les lancer sur les adversaires" alt="Alchimie"> Alchimie
<span class="talentpoints">{{classe.alchimie}}</span>
</div>
{% else %}
<div class="talent">
  Vous pouvez prendre Guérisseur ou Alchimie
</div>
{% endif %}
{% if classe.escalade != 0 %}
<div class="talent">
  <img class="talent-image" src="{% get_media_prefix %}/images/ICONS/Ability_Mount_RidingHorse.PNG" title="De 0 à 100, permet de monter à cheval" alt="Équitation"> Équitation
</div>
{% endif %}
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/site/rpg/FM.PNG" alt="Force mentale" title="Force mentale">  + 1 Force Mentale
</div>
{% endif %}
{% endblock %}

{% block niveau4 %}
{% if fiche.niveau > 3 %}
{% if classe.scalpel_fioles == 2 %}
<div class="talent">
  <img class="talent-image" src="{% get_media_prefix %}/images/ICONS/INV_Knife_1h_DraenorCrafted_D_01_A_Alliance.PNG" title="+ 1 Intelligence, rajoute 30 points à la compétence chirurgie" alt="Maîtrise du scalpel">Maîtrise du scalpel
</div>
{% elif classe.scalpel_fioles == 3 %}
<div class="talent">
  <img class="talent-image" src="{% get_media_prefix %}/images/ICONS/Rogue_Paralytic_Poison.PNG" title="+1 Capacité de tir" alt="Art du lancer de fioles">Art du lancer de fioles
</div>
{% else %}
<div class="talent">
  Vous pouvez prendre Maîtrise du scalpel ou Art du lancer de fioles
</div>
{% endif %}
<div class="talent">
 <img class="talent-image" src="{% get_media_prefix %}/images/site/rpg/FM.PNG" alt="Force mentale" title="Force mentale"> + 1 Force Mentale
</div>
{% endif %}
{% endblock %}

{% block niveau5 %}
{% if fiche.niveau > 4 %}
{% if classe.guerisseur_enfumeur == 2 %}
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/ICONS/Spell_Misc_PetHeal.PNG" title="+ 1 Intelligence, + 1 Force Mentale, Augmente les pv rendus par la médecine de 1" alt="Maître guérisseur">Maître guérisseur
</div>
{% elif classe.guerisseur_enfumeur == 3 %}
<div class="talent">
  <img class="talent-image" src="{% get_media_prefix %}/images/ICONS/ability_rogue_smoke.PNG" title="+ 1 Capacité de Tir, permet de toucher les morts-vivants avec les fioles, dote le médecin d'un masque à gaz" alt="Enfumeur">Enfumeur
</div>
{% else %}
<div class="talent">
  Vous pouvez prendre Maître guérisseur ou Enfumeur
</div>
{% endif %}
<div class="talent">
<img class="talent-image" src="{% get_media_prefix %}/images/site/rpg/FM.PNG" alt="Force mentale" title="Force mentale">  + 1 Force Mentale
</div>
{% endif %}
{% endblock %}
