{% extends "base.html" %}

{% load filters %}
{% load tags %}

 <script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
 </script>


{% block title %}Fiche de {{ fiche.prenom|capfirst }} {{ fiche.nom|capfirst }}{% endblock %}
{% block page-title %}
{{ fiche.prenom|capfirst }} {{ fiche.nom|capfirst }}
{% endblock %}

{% block edition %}
{% if user.is_authenticated %}
{% if user.id == fiche.createur.id or perms.fiches.admin %}
{% if fiche.classe == 1 %}
{% if not fiche.fantassin %}
<a class="btn btn-default" href="{% url 'creer_fantassin' fiche.id %}">Créer classe</a>
{% else %}
<a class="btn btn-default" href="{% url 'editer_fantassin' fiche.fantassin.id %}">Editer classe</a>
<a class="btn btn-default" href="{% url 'supprimer_fiche' 1 fiche.fantassin.id %}">Supprimer</a>
{% endif %}
{% elif fiche.classe == 2 %}
{% if not fiche.arbaletrier %}
<a class="btn btn-default" href="{% url 'creer_arbaletrier' fiche.id %}">Créer classe</a>
{% else %}
<a class="btn btn-default" href="{% url 'editer_arbaletrier' fiche.arbaletrier.id %}">Editer classe</a>
<a class="btn btn-default" href="{% url 'supprimer_fiche' 2 fiche.arbaletrier.id %}">Supprimer</a>
{% endif %}
{% elif fiche.classe == 3 %}
{% if not fiche.eclaireur %}
<a class="btn btn-default" href="{% url 'creer_eclaireur' fiche.id %}">Créer classe</a>
{% else %}
<a class="btn btn-default" href="{% url 'editer_eclaireur' fiche.eclaireur.id %}">Editer classe</a>
<a class="btn btn-default" href="{% url 'supprimer_fiche' 3 fiche.eclaireur.id %}">Supprimer</a>
{% endif %}
{% elif fiche.classe == 4 %}
{% if not fiche.apothicaire %}
<a class="btn btn-default" href="{% url 'creer_apothicaire' fiche.id %}">Créer classe</a>
{% else %}
<a class="btn btn-default" href="{% url 'editer_apothicaire' fiche.apothicaire.id %}">Editer classe</a>
<a class="btn btn-default" href="{% url 'supprimer_fiche' 4 fiche.apothicaire.id %}">Supprimer</a>
{% endif %}
{% elif fiche.classe == 5 %}
{% if not fiche.sorcier %}
<a class="btn btn-default" href="{% url 'creer_sorcier' fiche.id %}">Créer classe</a>
{% else %}
<a class="btn btn-default" href="{% url 'editer_sorcier' fiche.sorcier.id %}">Editer classe</a>
<a class="btn btn-default" href="{% url 'supprimer_fiche' 5 fiche.sorcier.id %}">Supprimer</a>
{% endif %}
{% elif fiche.classe == 6 %}
{% if not fiche.rabatteur %}
<a class="btn btn-default" href="{% url 'creer_rabatteur' fiche.id %}">Créer classe</a>
{% else %}
<a class="btn btn-default" href="{% url 'editer_rabatteur' fiche.rabatteur.id %}">Editer classe</a>
<a class="btn btn-default" href="{% url 'supprimer_fiche' 6 fiche.rabatteur.id %}">Supprimer</a>
{% endif %}
{% endif %}
<a class="btn btn-default" href="{% url 'editer_perso' fiche.id %}">Editer</a>
{% endif %}
{% endif %}
{% endblock %}
{% block user %}
{% if fiche.createur %}
<span><b>Créateur :</b> <a href="{% url 'utilisateur' fiche.createur.id %}">{{ fiche.createur }}</a></span>
{% else %}
<span><b>Créateur :</b> Aucun</span>
{% endif %}
{% endblock %}


{% block content %}

<div class="media">
  <div class="media-body">

    <h3>{{ fiche.get_pj_display }} et {{ fiche.get_etat_display|lower }}</h3>
    <span class="badges">
      {% if fiche.sexe == 'h' %} <!-- males -->
      {% if fiche.race == 'n' %}
      <img class="race-icone" src="/fiches/media/images/site/dwarf_male.PNG" alt="Nain" title="Nain : +1 PV, + 1 Force, + 1 Endurance, - 2 Agilité">
      {% elif fiche.race == 'e' %}
      <img class="race-icone" src="/fiches/media/images/site/HE_male.PNG" alt="Haut-elfe" title="Haut-elfe : + 1 Agilité, + 1 Capacité de tir, + 1 Perception, - 1 PV, - 1 Endurance">
      {% else %}
      <img class="race-icone" src="/fiches/media/images/site/human_male.PNG" alt="Humain" title="Humain : Profil normal">
      {% endif %}
      {% else %} <!-- females -->
      {% if fiche.race == 'n' %}
      <img class="race-icone" src="/fiches/media/images/site/dwarf_female.PNG" alt="Naine" title="Naine : +1 PV, + 1 Force, + 1 Endurance, - 2 Agilité">
      {% elif fiche.race == 'e' %}
      <img class="race-icone" src="/fiches/media/images/site/HE_female.PNG" alt="Haute-elfe" title="Haute-elfe : + 1 Agilité, + 1 Capacité de tir, + 1 Perception, - 1 PV, - 1 Endurance">
      {% else %}
      <img class="race-icone" src="/fiches/media/images/site/human_female.PNG" alt="Humaine" title="Humaine : Profil normal">
      {% endif %}
      {% endif %}
      {% if fiche.classe == 1 %}
      <img class="classe-icone" src="/fiches/media/images/site/rpg/Fantassin.PNG" alt="Fantassin" title="Fantassin (Caractéristiques principales : Capacité de combat, Force, Endurance, Force mentale)">
      {% elif fiche.classe == 2 %}
      <img class="classe-icone" src="/fiches/media/images/site/rpg/Arbaletrier.PNG" alt="Arbalétrier" title="Arbalétrier (Caractéristiques principales : Capacité de tir, Force mentale)">
      {% elif fiche.classe == 3 %}
      <img class="classe-icone" src="/fiches/media/images/site/rpg/Eclaireur.PNG" alt="Eclaireur" title="Eclaireur (Caractéristiques principales : Perception, Agilité, Force mentale)">
      {% elif fiche.classe == 4 %}
      <img class="classe-icone" src="/fiches/media/images/site/rpg/Apothicaire.PNG" alt="Apothicaire de combat" title="Apothicaire de combat (Caractéristiques principales : Intelligence, Force mentale)">
      {% elif fiche.classe == 5 %}
      <img class="classe-icone" src="/fiches/media/images/site/rpg/Sorcier.PNG" alt="Apprenti sorcier"title="Apprenti sorcier (Caractéristique principale : Intelligence, Force mentale))">
      {% elif fiche.classe == 6 %}
      <img class="classe-icone" src="/fiches/media/images/site/rpg/Rabatteur.PNG" alt="Rabatteur"title="Rabatteur (Caractéristiques principales : Capacité de tir, Agilité, Force mentale)">
      {% else %}
      <img class="classe-icone" src="/fiches/media/images/site/WoWUnknownItem01.PNG" alt="Pas de classe" title="WTF?">
      {% endif %}
    </span>
    <ul>
      <li><b>Nom&nbsp;: </b>{{ fiche.nom|capfirst }}&nbsp;{{ fiche.prenom|capfirst }}</li>
      <li><b>Date de naissance&nbsp;: </b> {{fiche.jour_de_naissance}}
	    {% if fiche.jour_de_naissance == 1 %}er{% endif %} <!-- fiche.jour -->
	    {% if user.is_anonymous or not user.is_anonymous and not utilisateur.infos %}
	    {% if fiche.jour_de_naissance != 1 %}ème{% endif %} <!-- fiche.jour -->
	    jour du
	    {{fiche.mois_de_naissance}}
	    {% if fiche.mois_de_naissance == 01 %}er mois{% else %}ème mois{% endif %} <!-- fiche.mois -->
	    de l'an {{fiche.annee_de_naissance}}
	    {% endif %} <!-- not utilisateurs.infos -->
	    {% if not user.is_anonymous and utilisateur.infos.affichage_date == 'n' %}
	    {{fiche.mois_de_naissance|mois}} {{fiche.annee_de_naissance}}
	    {% elif not user.is_anonymous and utilisateur.infos.affichage_date == 'l' %}
	    {% if fiche.jour_de_naissance != 1 %}ème{% endif %}
	    jour du
	    {{fiche.mois_de_naissance}}
	    {% if fiche.mois_de_naissance == 01 %}er mois{% else %}ème mois{% endif %}
	    de l'an {{fiche.annee_de_naissance}}
	    {% endif %}
	    ({{fiche.annee_de_naissance|age}} an{{fiche.annee_de_naissance|age|pluralize}} cette année)</li>
      <li><b>Ville de naissance&nbsp;: </b>{{ fiche.ville_de_naissance|capfirst  }}</li>
      <li><b>Ancienne Profession&nbsp;: </b>
      {% if fiche.ex_prof != 9 %}
	{{fiche.get_ex_prof_display|capfirst }} : {{fiche.apt_metier}}
	{% else %}
	{{fiche.autre_metier|capfirst}}
	{% endif %}
      </li>
      <li><b>Grade&nbsp;: </b>{{ fiche.get_grade_rp_display|capfirst }}</li>
      <li>{% block statistic %}{% endblock %}</li>
      <li><b>Blessures&nbsp;: </b><span {% if fiche.blessures != 'Sans' %}class="red"{% endif %}>{{ fiche.blessures|linebreaksbr }}</span></li>
      <li><b>Troubles mentaux&nbsp;: </b><span {% if fiche.troubles_ment != 'Sans' %}class="red"{% endif %}>{{ fiche.troubles_ment|linebreaksbr }}</span></li>
      {% if fiche.comp_apprises != 'Aucune' %}
      <li><b>Compétences apprises :</b> {{ fiche.comp_apprises|linebreaksbr }}
	{% endif %}
      <li><b>Traits&nbsp;: </b>
	<ul>
	  {% for avant in fiche.avants.all %}
	  <li id=avantages>
	    {% if avant.id != 1 %}
	    {{avant.nom}} :
	    {% endif %}
	    {{avant.description}}</li>
	  {% endfor %}
	  {% for desavant in fiche.desavants.all %}
	  <li id=desavantages>
	    {% if desavant.id != 1 %}
	    {% if desavant.id == 5 and fiche.peur != 'Sans' %}Peur ({{fiche.peur}})
	    {% elif desavant.id == 23 and fiche.dependances != 'Sans' %}Dépendance ({{fiche.dependances}})
	    {% else %}{{desavant.nom}}
	    {% endif %}
	    :
	    {% endif %}
	    {{desavant.description}}</li>
	  {% endfor %}
	</ul>
      </li>
      {% if fiche.campagne.all %}
      <li><b>Campagnes auxquelles le personnage a déjà participé&nbsp;: </b>
      	<ul>
	  {% for camp in fiche.campagne.all %}
	  <li>{{ camp.nom }}</li>
	  {% endfor %}
	</ul>
      </li>
      {% endif %}
    </ul>

  </div>     <!-- media-body -->
  <div class="media-right">
    <a target="_blank" href={{ fiche.image.url }}>
      <img class="media-object" src={{ fiche.image.url }} alt="Portrait">
    </a>
  </div> <!-- media-right -->
  <div>
    <h4 class="progress-label">Niveau <!-- {{fiche.niveau}} -->
      {% if fiche.niveau == 1 %}  <img class="level" src="/fiches/media/images/site/rpg/Achievement_PVP_H_01.PNG" alt="Niveau 1">
      {% elif fiche.niveau == 2 %}<img class="level" src="/fiches/media/images/site/rpg/Achievement_PVP_H_02.PNG" alt="Niveau 2">
      {% elif fiche.niveau == 3 %}<img class="level" src="/fiches/media/images/site/rpg/Achievement_PVP_H_03.PNG" alt="Niveau 3">
      {% elif fiche.niveau == 4 %}<img class="level" src="/fiches/media/images/site/rpg/Achievement_PVP_H_04.PNG" alt="Niveau 4">
      {% elif fiche.niveau == 5 %}<img class="level" src="/fiches/media/images/site/rpg/Achievement_PVP_H_05.PNG" alt="Niveau 5">
      {% endif %}
      {% if fiche.niveau < 6 %} Expérience : {{fiche.xp}} points </h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{fiche.xp}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {% if fiche.niveau == 1 %} {{fiche.xp|pourcent:100}}%">{{fiche.xp|pourcent:100}}%
	{% elif fiche.niveau == 2 %} {{fiche.xp|pourcent:200}}%"> {{fiche.xp|pourcent:200}}%
	    {% elif fiche.niveau == 3 %} {{fiche.xp|pourcent:400}}%"> {{fiche.xp|pourcent:400}}%
	    {% elif fiche.niveau == 4 %} {{fiche.xp|pourcent:800}}%"> {{fiche.xp|pourcent:800}}%
	    {% elif fiche.niveau == 5 %} {{fiche.xp|pourcent:1600}}%"> {{fiche.xp|pourcent:1600}}%
	   {% endif %}
      </div> <!-- progress-bar -->
    </div>   <!-- progress -->
    {% else %}</h4>
{% endif %}
    <h4 class="progress-label">Folie : {{fiche.pf}}. Points de stress :</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{fiche.ps}}" aria-valuemin="0" aria-valuemax="10" style="min-width: 2em; width: {{fiche.ps|pourcent:10}}%">
	{{fiche.ps}}
      </div> <!-- progress-bar -->
    </div>   <!-- progress -->
    </div>


</div>
    {% block classe %}{% endblock %}


  <div class="panel panel-defaut details-panels">
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body centre">
      {{fiche.description|linebreaksbr}}
    </div>
  </div>
  <div class="panel panel-defaut details-panels">
    <div class="panel-heading">
      <h3 class="panel-title">Historique</h3>
    </div>
    <div class="panel-body centre">
      {{fiche.historique|linebreaksbr}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-defaut details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Inventaire</h3>
      </div>
      <div class="panel-body">
	{{fiche.inventaire|linebreaksbr}}
      </div>
    </div> <!-- panel panel-default -->
  </div>   <!-- col-md-6 -->
  <div class="col-md-6">
    <div class="panel panel-defaut details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Equipement</h3>
      </div>
      <div class="panel-body">
	{{fiche.equipement|linebreaksbr}}
      </div>
    </div> <!-- panel panel-default -->
  </div>   <!-- col-md-6 -->

{% endblock %}
