{% extends "base.html" %}

{% load filters %}

{% block script %}
{% endblock %}


{% block title %}Fiche de {{ fiche.prenom|capfirst }} {{ fiche.nom|capfirst }}{% endblock %}
{% block page-title %}
{{ fiche.prenom|capfirst }} {{ fiche.nom|capfirst }}
{% endblock %}

{% block edition %}
{% if user.is_authenticated %}
{% ifequal user.id fiche.createur.id %}
{% if fiche.classe == 1 %}
{% if not fiche.fantassin %}<a class="btn btn-default" href="{% url 'creer_fantassin' fiche.id %}">Créer classe</a>{% else %}<a class="btn btn-default" href="{% url 'editer_fantassin' fiche.fantassin.id %}">Editer classe</a> {% endif %}
{% elif fiche.classe == 2 %}<a class="btn btn-default" href="{% url 'creer_arbaletrier' fiche.id %}">Créer classe</a>
{% elif fiche.classe == 3 %}<a class="btn btn-default" href="{% url 'creer_eclaireur' fiche.id %}">Créer classe</a>
{% elif fiche.classe == 4 %}
{% if not fiche.apothicaire %}<a class="btn btn-default" href="{% url 'creer_apo' fiche.id %}">Créer classe</a>{% else %} <a class="btn btn-default" href="{% url 'editer_apothicaire' fiche.apothicaire.id %}">Editer classe</a> {% endif %}
{% elif fiche.classe == 5 %}<a class="btn btn-default" href="{% url 'creer_sorcier' fiche.id %}">Créer classe</a>
{% endif %}
<a class="btn btn-default" href="{% url 'editer_perso' fiche.id %}">Editer</a>
{% endifequal %}
{% endif %}
{% endblock %}
{% block user %}
{% if fiche.createur %}
<span><b>Créateur :</b> <a href="{% url 'utilisateur' fiche.createur.id %}">{{ fiche.createur }}</a></span>
{% else %}
<span><b>Créateur :</b> Aucun</span>
{% endif %}
{% endblock %}


{% block content %}

<div class="media">
  <div class="media-body">

    <h3>{{ fiche.get_pj_display }} et {{ fiche.get_etat_display|lower }}</h3>
    <ul>
      <li><b>Nom&nbsp;: </b>{{ fiche.nom|capfirst }}&nbsp;{{ fiche.prenom|capfirst }}</li>
      <li><b>Sexe&nbsp;: </b>{{ fiche.get_sexe_display }}</li>
      <li><b>Race&nbsp;: </b>{{ fiche.get_race_display|capfirst }}</li>
      <li><b>Date de naissance&nbsp;: </b>{{fiche.jour_de_naissance}}{% if fiche.jour_de_naissance == 01 %}er jour du{% else %}ème jour du
	{% endif %}
	{{fiche.mois_de_naissance}}{% if fiche.jour_mois_de_naissance == 01 %}er mois{% else %}ème mois
	{% endif %}
	de l'an {{fiche.annee_de_naissance}}</li>
      <li><b>Ville de naissance&nbsp;: </b>{{ fiche.ville_de_naissance|capfirst  }}</li>
      <li><b>Ancienne Profession&nbsp;: </b>
      {% if fiche.ex_prof != 9 %}
	{{fiche.get_ex_prof_display|capfirst }}
	{% else %}
	{{fiche.autre_metier|capfirst}}
	{% endif %}
      </li>
      <li><b>Grade&nbsp;: </b>{{ fiche.get_grade_rp_display|capfirst }}</li>
      <li><b>Capacité de combat&nbsp;: </b>{{ fiche.cap_combat }}</li>
      <li><b>Capacité de tir&nbsp;: </b>{{ fiche.cap_tir }}</li>
      <li><b>Force&nbsp;: </b>{{ fiche.force }}</li>
      <li><b>Endurance&nbsp;: </b>{{ fiche.endu }}</li>
      <li><b>Perception&nbsp;: </b>{{ fiche.perce }}</li>
      <li><b>Agilité&nbsp;: </b>{{ fiche.agi }}</li>
      <li><b>Intelligence&nbsp;: </b>{{ fiche.intell }}</li>
      <li><b>Charisme&nbsp;: </b>{{ fiche.charisme }}</li>
      <li><b>Force mentale&nbsp;: </b>{{ fiche.force_men}}</li>
      <li><b>Traits&nbsp;: </b><ul>
	  {% for avant in fiche.avants.all %}
	  <li id=avantages>
	    {% if avant.id != 1 %}
	    {{avant.nom}} :
	    {% endif %}
	    {{avant.description}}</li>
	  {% endfor %}
	  {% for desavant in fiche.desavants.all %}
	  <li id=desavantages>
	    {% if desavant.id != 1 %}
	    {{desavant.nom}} :
	    {% endif %}
	    {{desavant.description}}</li>
	  {% endfor %}
	  </ul>
    </ul>
    <h4 class="progress-label">Niveau : {{fiche.niveau}}. Expérience nécessaire pour le prochain niveau : </h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{fiche.xp}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 									{% if fiche.niveau == 1 %} {{fiche.xp|pourcent:100}}%"
	    {% elif fiche.niveau == 2 %} {{fiche.xp|pourcent:200}}%"
	    {% elif fiche.niveau == 3 %} {{fiche.xp|pourcent:400}}%"
	    {% elif fiche.niveau == 4 %} {{fiche.xp|pourcent:800}}%"
	    {% elif fiche.niveau == 5 %} {{fiche.xp|pourcent:1600}}%"
	   {% endif %}>
	{{fiche.xp}}%
      </div>
    </div>
    <h4 class="progress-label">Folie : {{fiche.pf}}. Points de stress :</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{fiche.ps}}" aria-valuemin="0" aria-valuemax="10" style="min-width: 2em; width: {{fiche.ps|pourcent:10}}%">
	{{fiche.ps}}
      </div>
    </div>
  </div>
  <div class="media-right">
    <a target="_blank" href={{ fiche.image.url }}>
      <img class="media-object" src={{ fiche.image.url }} alt="Portrait">
    </a>
  </div>



</div>

{% endblock %}
