{% extends "base.html" %}

{% load tags %}

{% block title %}Liste des personnages{% endblock %}
{% block page-title %}Liste des personnages{% endblock %}

{% block content %}
<div id="liste">
  {% if fiches %}
  <span>Page {{ fiches.number }} sur {{ fiches.paginator.num_pages }}</span>
  <nav aria-label="Page navigation" id="pagination">
    <ul class="pagination pagination-sm">
      {% if fiches.has_previous %}
      <li>
	<a href="?page={{ fiches.previous_page_number }}" aria-label="Précédent">
	  <span aria-hidden="true">&laquo;</span>
	</a>
      </li>
      {% endif %}

      {% for p in fiches.paginator.page_range %}
      <li>
	<a href="?page={{ p }}">
	  {{p}}
	</a>
      </li>
      {% endfor %}

      {% if fiches.has_next %}
      <li>
	<a href="?page={{ fiches.next_page_number }}" aria-label="Suivant">
          <span aria-hidden="true">&raquo;</span>
	</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <table style="width:100%">
    <tr>
      <th>Nom du personnage</th>
      <th>Classe</th>
      <th>Grade</th>
      <th>Avatar</th>
    </tr>
    {% for f in fiches %}
    <tr>
      <!-- <div class="character"> -->
      {% if f.classe == 1 and f.fantassin %}
      {% return_line 'fantassin' f %}
      {% elif f.classe == 2 and f.arbaletrier %}
      {% return_line 'arbaletrier' f %}
      {% elif f.classe == 3 and f.eclaireur %}
      {% return_line 'eclaireur' f %}
      {% elif f.classe == 4 and f.apothicaire %}
      {% return_line 'apothicaire' f %}
      {% elif f.classe == 5 and f.sorcier %}
      {% return_line 'sorcier' f %}
      {% elif f.classe == 6 and f.rabatteur %}
      {% return_line 'rabatteur' f %}
      {% else %}
      <td><a href="{% url 'detail_perso' f.id %}">{{ f.nom }} {{ f.prenom }}</a></td>
      <td><a href="{% url 'detail_perso' f.id %}">{{ f.get_classe_display }}</a></td>
      <td><a href="{% url 'detail_perso' f.id %}">{{ f.get_grade_rp_display }}</a></td>
      {% if f.image %}
      <td><a target="_self" href="{% url 'detail_perso' f.id %}"><img class="media-object" src={{ f.image.url }} alt="Portrait"></a></td>
      {% else %}
      <td><a target="_self" href="{% url 'detail_perso' f.id %}"><img class="media-object" src="/fiches/media/images/site/no-image.png" alt="Portrait"></a></td>
      {% endif %}
      {% endif %}
      <!-- </div> -->
    </tr>
    {% endfor %}
  </table>
  <nav aria-label="Page navigation" id="pagination">
    <ul class="pagination pagination-sm">
      {% if fiches.has_previous %}
      <li>
	<a href="?page={{ fiches.previous_page_number }}" aria-label="Précédent">
	  <span aria-hidden="true">&laquo;</span>
	</a>
      </li>
      {% endif %}

      {% for p in fiches.paginator.page_range %}
      <li>
	<a href="?page={{ p }}">
	  {{p}}
	</a>
      </li>
      {% endfor %}

      {% if fiches.has_next %}
      <li>
	<a href="?page={{ fiches.next_page_number }}" aria-label="Suivant">
          <span aria-hidden="true">&raquo;</span>
	</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <span>Page {{ fiches.number }} sur {{ fiches.paginator.num_pages }}</span>
</div>

{% else %}
<p>Aucune fiche</p>
{% endif %}

{% endblock %}
