.github-logo {
    width: 20px;
    background-color: white;
    border-radius: 10px;
}

footer {
    margin-bottom: 2%;
    padding-bottom: 70px;
}

#bottom-bar {
    margin: 0px 70px 0px auto;
    background-image: url("/fiches/media/images/site/bottom-bar.png");
    background-size: 280px 50px;
    width: 280px;
    height: 50px;
    border: 0px;
}

.bottom-bar-button {
    margin: 0px -3px;
}

#bottom-bar-container {
    margin: 6px auto;
    width: 340px;
    padding-left: 8px;
}

.bottom-bar-images {
    height: 40px;
}

#center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}