{% extends "site/base.html" %}

{% load filters %}
{% load static %}

{% block script %}
{% endblock %}


{% block title %}{{quete.nom}}{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<div class="campaign-body">

  <div class="page-header" id="campaign-header" onclick="document.location='{% url 'campagnes' %}'">
    <div class="campaign-head">
      <h1>Campagnes</h1>
    </div> <!-- quest-head -->
  </div>   <!-- page-header -->

  <div class="fond">
    {% if campagnes_list %}
    <div class="campaigns">
    {% for campagne in campagnes_list %}
    <div class="campaign">
      <a class="btn btn-campaign" href="{% url 'campagne' campagne.id %}">{{ campagne }}</a>
    </div>
    {% endfor %}
    </div>
  </div>
  <div class="quest-pages">
    <span>Page {{ campagnes_list.number }} sur {{ campagnes_list.paginator.num_pages }}</span>
    <nav aria-label="Page navigation" id="pagination">
      <ul class="pagination pagination-sm pagination-campaign">
	{% if campagnes_list.has_previous %}
	<li>
	  <a href="?page={{ campagnes_list.previous_page_number }}" aria-label="Précédent">
	    <span aria-hidden="true">&laquo;</span>
	  </a>
	</li>
	{% endif %}

	{% for p in campagnes_list.paginator.page_range %}
	<li>
	  <a href="?page={{ p }}">
	    {{p}}
	  </a>
	</li>
	{% endfor %}

	{% if campagnes_list.has_next %}
	<li>
	  <a href="?page={{ campagnes_list.next_page_number }}" aria-label="Suivant">
            <span aria-hidden="true">&raquo;</span>
	  </a>
	</li>
	{% endif %}
      </ul>
    </nav>
  </div> <!-- quest-pages -->
  {% else %}
  <p>Aucune campagne</p>
  </div> <!-- fond -->
{% endif %}
{% if perms.fiches.fdg %}
<a class="btn btn-campaign" href="{% url 'creer_mission' %}">Nouvelle mission</a>
{% endif %}
</div> <!-- campaign-body -->

{% endblock %}
