{% extends "site/base.html" %}

{% load filters %}
{% load static %}

{% block script %}
$(function () {
  $('[data-toggle="tooltip"]').tooltip({html: true, placement: 'right'})
})
{% endblock %}


{% block title %}Sorts{% endblock %}
{% block contenu_header %}{% endblock %}

{% block content %}

<div class="sorts-body">

  <div class="page-header" id="sorts-header" onclick="document.location='{% url 'classes' %}'">
    <div class="sorts-head">
      <h1>Sorts</h1>
    </div> <!-- quest-head -->
  </div>   <!-- page-header -->

  <div class="black">
    <div class="classes">
      {% if classes_list %}
      {% for classe in classes %}
      <div class="classe" data-toggle="tooltip" title="{{classe.principes|linebreaksbr}}">
      	<a href="{% url 'sorts' classe.id %}">
	  <div class="classe-{{classe.fond_url}}">
	    <img class="classe-icone" src="{% get_media_prefix %}images/ICONS/{{classe.image_url}}.PNG" alt="{{classe.nom}}" id="icone">
	    <div class="classe-nom">{{classe.nom}}</div>
	  </div>
	</a>
      </div>
      {% endfor %}
      {% else %}
      Aucune classe.
      {% endif %}
    </div>
          <div class="sorts-pages">
	    <nav class="sorts-pager">
	      <span>Page {{ classes_list.number }}</span>
	  {% if classes_list.has_previous %}
	    <a href="?page={{ sorts_list.previous_page_number }}">
	      <img src="{% get_media_prefix %}images/site/UI-SpellbookIcon-PrevPage-Up.PNG" alt="Précédent" class="precedent">
	    </a>
	    {% else %}
	    <img src="{% get_media_prefix %}images/site/UI-SpellbookIcon-PrevPage-Disabled.PNG" alt="Pas de précédent" class="precedent">
	  {% endif %}
	{% if classes_list.has_next %}
	  <a href="?page={{ sorts_list.next_page_number }}">
	      <img src="{% get_media_prefix %}images/site/UI-SpellbookIcon-NextPage-Up.PNG" alt="Suivant" class="suivant">
	  </a>
	  {% else %}
	  <img src="{% get_media_prefix %}images/site/UI-SpellbookIcon-NextPage-Disabled.PNG" alt="Pas de suivant" class="suivant">
	{% endif %}
      </nav>
	  </div>
	  <div class="clear"></div>
  </div>
</div>

{% endblock %}
