
{% extends "site/base.html" %}


{% block title %}Conseil de guerre de Lordaeron en session{% endblock %}
{% block page-title %}Conseil de guerre de Lordaeron en session{% endblock %}

{% block content %}

<input name="token" value="{{ token }}" type="hidden">

<script src="/static/site/council/shared.js"></script>
<script src="/static/site/council/client.js"></script>
<style>
  html { background: #aaa; }
  #holder > * {
    position: absolute;
    top: 0;
    left: 0;
  }
  #preview {
    pointer-events: none;
    opacity: 0.7;
  }
  .disconnected #preview {
    display: none;
  }
  #holder {
    width: 1200px;
    height: 700px;
    margin: auto;
    overflow: scroll;
    position: relative;
    cursor: none;
  }
  .disconnected #holder {
    cursor: auto;
  }
  .palette button {
    width: 45px;
    height: 45px;
  }
  .palette button img {
    width: 27px;
    height: 27px;
  }
  .palette[data-layer="horde"] button {
    background-color: red;
  }
  .palette[data-layer="horde"] button:hover {
    background-color: #7e0609;
  }
  .btn-council {
  text-shadow: 0 0px 0 #fff;
  font-weight: bold;
  background: #470002;
  padding: 7px 7px;
  text-decoration: none;
  position: relative;
  border: 1px solid #6e1618;
  margin: 1% auto;
  }
  .btn-chef {
  background-color: beige;
  color: black;
  }

  .stamp {
      border-radius: 50%;
  }

  .spinner {
    margin: 150px auto 0;
    width: 70px;
    text-align: center;
  }

  .spinner > div {
    width: 20px;
    height: 20px;
    background-color: #7e0609;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
</style>

<div id="controls">
  <div id="palettes">
    <div class="palette">
      <label>Joueur :</label>
      <button class="btn btn-default btn-chef stamp" data-action="stamp" data-stamp="troupes">
        <img src="/static/site/council/stamps/troupes.png">
      </button>
      <button class="btn btn-default btn-chef stamp" data-action="stamp" data-stamp="cavalerie">
        <img src="/static/site/council/stamps/cavalerie.png">
      </button>
      <button class="btn btn-default btn-chef stamp" data-action="stamp" data-stamp="gallion">
        <img src="/static/site/council/stamps/gallion.png">
      </button>
      <button class="btn btn-default btn-chef stamp" data-action="stamp" data-stamp="chariot">
        <img src="/static/site/council/stamps/chariot.png">
      </button>
      <button class="btn btn-default btn-chef" data-action="pencil">
        <img src="/static/site/council/pencil.png">
      </button>
      <button class="btn btn-default btn-chef" data-action="erase">
        <img src="/static/site/council/eraser.png">
      </button>
      <button class="btn btn-default btn-chef" data-action="nuke">
        <img src="/static/site/council/nuke.png">
      </button>
    </div>
    <div class="palette" data-layer="horde">
      <label>Horde : </label>
      <button class="btn btn-default stamp" data-action="stamp" data-stamp="troupes">
        <img src="/static/site/council/stamps/troupes.png">
      </button>
      <button class="btn btn-default stamp" data-action="stamp" data-stamp="cavalerie">
        <img src="/static/site/council/stamps/cavalerie.png">
      </button>
      <button class="btn btn-default stamp" data-action="stamp" data-stamp="gallion">
        <img src="/static/site/council/stamps/gallion.png">
      </button>
      <button class="btn btn-default stamp" data-action="stamp" data-stamp="chariot">
        <img src="/static/site/council/stamps/chariot.png">
      <button class="btn btn-default" data-action="pencil">
        <img src="/static/site/council/pencil.png">
      </button>
      <button class="btn btn-default" data-action="erase">
        <img src="/static/site/council/eraser.png">
      </button>
      <button class="btn btn-default" data-action="nuke">
        <img src="/static/site/council/nuke.png">
      </button>
       (attention, change les troupes pour tout le monde)
    </div>
  </div>
  <label>Zoom :</label> <input id="zoom" type="range" min="10" max="200" value="100" />
  <label>Taille du pinceau :</label> <input id="scale" type="range" min="10" max="200" value="100" />
</div>
<div id="holder">
  <img class="resize" src="/static/site/council/bg.png" />
  <div class="spinner resize">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div class="centre">
  <a class="btn btn-default btn-council" href="{% url 'conseil' %}">Revenir à la carte</a><br>
  Conseil : vous pouvez Ctrl + clic pour ouvrir un nouvel onglet et pouvoir voir et éditer la légende
</div>
{% endblock %}
