{% extends "site/base.html" %}


{% block title %}Conseil de guerre de Lordaeron{% endblock %}
{% block page-title %}Conseil de guerre de Lordaeron{% endblock %}

{% block content %}

<style>
  #holder {
    width: 1200px;
    height: 700px;
    margin: auto;
    overflow: scroll;
    position: relative;
  }
  #holder img {
    position: absolute;
  }
</style>
<input id="zoom" type="range" min="20" value="100" />
<div id="holder">
  <img src="/static/site/council/bg.png" />
  {% for img in all_layers %}
  <img src="/static/site/council/layers/{{ img }}" />
  {% endfor %}
</div>

<script>
  const zoomInput = document.getElementById('zoom')
  zoomInput.addEventListener('change', rescaleAll)

  function rescaleAll() {
    const zoom = this.value / 100
    const imgs = document.querySelectorAll('#holder img')
    Array.prototype.forEach.call(imgs, im => {
      im.style.width  = im.naturalWidth * zoom + 'px'
    })
  }
  rescaleAll.apply(zoomInput)
</script>

{% for l in legende_noirebois %}
  <div class="panel panel-defaut details-panels">
    <div class="panel-heading conseil-heading">
      <h3 class="panel-title conseil-titre">{{ l.nom }}</h3>
      {% if user.is_authenticated %}
      {% if user.id == l.createur.id or perms.fiches.admin %}
      <span class="edition">
	<a  href="{% url 'editer_legende' %}">Éditer notes</a></span>
      {% endif %}
      {% endif %}
    </div>
    <div class="panel-body">
      <img class="guilde-icone" src="{{MEDIA_URL}}{{ l.image }}" style="float: left;" />
      {{ l.description|linebreaksbr }}
    </div>
  </div>
  {% endfor %}
  {% for l in legendes_allies %}
  <div class="panel panel-default details-panels">
    <div class="panel-heading conseil-heading">
      <h3 class="panel-title conseil-titre">{{ l.nom }}</h3>
      {% if user.is_authenticated %}
      {% if user.id == l.createur.id or perms.fiches.admin %}
      <span class="edition">
	<a  href="{% url 'editer_legende' %}">Éditer notes</a></span>
      {% endif %}
      {% endif %}
    </div>
    <div class="panel-body">
      <img class="guilde-icone" src="{{MEDIA_URL}}{{ l.image }}" style="float: left;" />
      {{ l.description|linebreaksbr }}
    </div>
  </div>
  {% endfor %}
  {% for l in legende_horde %}
  <div class="panel panel-defaut details-panels">
    <div class="panel-heading conseil-heading">
      <h3 class="panel-title conseil-titre">{{ l.nom }}</h3>
      {% if user.is_authenticated %}
      {% if user.id == l.createur.id or perms.fiches.admin %}
      <span class="edition">
	<a  href="{% url 'editer_legende' %}">Éditer notes</a></span>
      {% endif %}
      {% endif %}
    </div>
    <div class="panel-body">
      <img class="guilde-icone" src="{{MEDIA_URL}}{{ l.image }}" style="float: left;" />
      {{ l.description|linebreaksbr }}
    </div>
  </div>
  {% endfor %}
  {% if user.is_authenticated and perms.fiches.chef and not a_legende %}
  <a class="btn btn-default" href="{% url 'editer_legende' %}">Créer une légende</a>
  {% endif %}
{% endblock %}
