{% extends "site/base.html" %}


{% block title %}Éditer notes{% endblock %}
{% block page-title %}Éditer notes{% endblock %}

{% block content %}

<div id="char_form">
  <form enctype="multipart/form-data" action="" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_nom">Nom de la légende&nbsp;:</label>
      <input name="nom" required="" id="id_nom" value="{{form.nom.value|default:'Légende'}}" maxlength="75" type="text">
    </div>
    <div class="form-group">
      <label for="id_description">Description&nbsp;:</label>
      <textarea name="description" class="form-control" id="id_description" required="" rows="10" cols="40" maxlength="6000" onkeyup="countChars('id_description','charcount');" onkeydown="countChars('id_description','charcount');" onmouseout="countChars('id_description','charcount');">{{form.description.value|default:'Aucun'}}</textarea>
      <span id="helpBlock" class="help-block">Limité à 6000 caractères (<span id="charcount">0</span>/6000).</span>
    </div>
    <div class="form-group">
      <label for="id_image">Image&nbsp;</label>
      <span id="description">
	<span style="color:red;">Attention : Le nom des images ne doit pas dépasser 100 caractères.<br></span>
	  {% if form.image.value %}
	Actuellement: <a href="{{MEDIA_URL}}{{form.image.value|default:'site/no-image.png'}}">{{form.image.value|default:'site/no-image.png'}}</a></span>
      <img class="guilde-icone" src="{{MEDIA_URL}}{{form.image.value|default:'site/no-image.png'}}" alt="Icône guilde"><br>
      <span>
      Modifier:

	  {% endif %}
	<input name="image" id="id_image" type="file">
</span>
	<input name="createur" id="id_createur" type="hidden" value="">

	<input class="btn btn-default" id="centre" type="submit" value="Valider" />
  </form>
  </div>
</div>



{% endblock %}
