{% extends "site/base.html" %}

{% load filters %}
{% load static %}

{% block script %}
{% endblock %}

{% block title %}Editer mission{% endblock %}
{% block contenu_header %}{% endblock %}
{% block page-title %}<a href="{% url 'campagnes' %}">Campagnes</a>{% endblock %}

{% block content %}

<div class="campaign-body">
  <div class="fond">
    <div id="char_form">
      <form enctype="multipart/form-data" action="" method="post" class="form-horizontal">
    	{% csrf_token %}

        {{ form.non_field_errors }}

        {% for group in formgroups %}
        <div class="form-group">
          {% for field in group %}
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
          {% endfor %}
        </div>
        {% endfor %}

        <input class="btn btn-campaign" id="centre" type="submit" value="Valider" />
      </form>
    </div>
  </div>
</div>

{{ form.media }}

{% endblock %}
