{% extends "site/base.html" %}

{% load filters %}

{% block script %}
{% endblock %}


{% block title %}{{quete.nom}}{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<div class="quest-body">

  <div class="page-header" id="quest-header" onclick="document.location='{% url 'quetes' %}'">
    <div class="quest-head">
      <h1>Registre de quêtes</h1>
    </div> <!-- quest-head -->
  </div>   <!-- page-header -->

  <div class="black">
    <div class="media" id="quest-display">
      {% if quete.etat == 3 %}
      <div id="accomplie">
	Accomplie
	<div>
	  {% endif %}
      <div class="media-body quest-attributes">
	<h4 class="media-heading quest-name">{{quete.nom}}</h4>
	<span class="quest-objective">{{quete.objectif}}<br></span>
	<span class="quest-other-attributes">
	  <b>Lieu : </b>{{quete.get_zone_display}} - {{quete.localisation}}<br>
	  {% if quete.requis != 'Rien' %}
	  <b>Requis : </b>{{quete.requis}}<br>
	  {% endif %}
	  <b>Nombre de combattants conseillés : </b>
	  {% if quete.nb_combattants == 0 %}?
	  {% else %}{{quete.nb_combattants}}
	  {% endif %}<br>
	  <b>Difficulté : </b>{{quete.get_difficulte_display}}<br>
	  <b>Récompense : </b>{{quete.recompense}}<br>
	  <b>Gloire : </b>{{quete.gloire}} point{{quete.gloire|pluralize}} de gloire<br>
	  {% if quete.etat == 1 %}
	  {% elif quete.etat == 2 %}<b>Réservée par : </b><a href="{% url 'detail_fiche' quete.reservee.id %}">{{ quete.reservee.nom }} {{ quete.reservee.prenom }}</a>
	  {% elif quete.etat == 3 %}<b>Accomplie par : </b><a href="{% url 'detail_fiche' quete.leader.id %}">{{ quete.leader.nom }} {{ quete.leader.prenom }}</a>
	  {% endif %}
	</span>
      </div> <!-- media-body -->

      {% if quete.cible != 'Aucune' and quete.ennemi %}

      <div class="quest-target">
	<img class="quest-portrait" src={{quete.ennemi.url}} alt="Ennemi portrait">
	<img class="quest-portrait-frame" src="/fiches/media/images/site/quest/UI-TargetingFrame-Elite.PNG" alt="Elite portrait frame">
	<span class="quest-portrait-name">{{quete.cible}}</span>
      </div> <!-- media-right -->
      {% endif %}
    </div> <!-- media -->

    {% if perms.fiches.objet_ok and quete.etat == 1 %}
    <div id="centre">
      <a class="btn btn-default" href="{% url 'reserver_quete' quete.id %}">Réserver</a>
      </div>
    {% endif %}
  </div> <!-- black -->
</div>	 <!-- quest-body -->

{% endblock %}
