{% extends "site/base.html" %}

{% load filters %}

{% block script %}
{% endblock %}


{% block title %}Quêtes{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<div class="quest-body">

  <div class="page-header" id="quest-header" onclick="document.location='{% url 'quetes' %}'">
    <div class="quest-head">
      <h1>Registre de quêtes</h1>
    </div>
  </div>

  <div class="back">

    <div id="liste">
  {% if quetes_list %}
    {% for quete in quetes_list %}

    <div class="media" id="quest-short" onclick="document.location='{% url 'quete' quete.id %}'">
      {% if forloop.counter0|divisibleby:'2' %}
      <div class="media-left media-middle">

	{% if quete.difficulte == 1 %}
	<img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier1.PNG" alt="Facile">
	{% elif quete.difficulte == 2 %}
	<img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier2.PNG" alt="Moyenne">
	{% elif quete.difficulte == 3 %}
	<img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier3.PNG" alt="Difficile">
	{% elif quete.difficulte == 4 %}
	<img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier4.PNG" alt="Très difficile">
	{% elif quete.difficulte == 5 %}
	<img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier6.PNG" alt="Suicidaire">
	{% elif quete.difficulte == 6 %}
	<img class="media-object" src="/fiches/media/images/site/quest/ACHIEVEMENT_GUILDPERK_LADYLUCK.PNG" alt="Inconnu">
	{% endif %}

      </div> <!-- media-left -->
      {% endif %}
      <div class="media-body">
	<h4 class="media-heading">
	  <a href="{% url 'quete' quete.id %}"><b>{{quete.nom}}</b></a>
	  {% if quete.etat == 1 %}<img class="quest-icon" src="/fiches/media/images/site/quest/category-icon-services.PNG" alt="Libre">
	  {% elif quete.etat == 2 %}<img class="quest-icon" src="/fiches/media/images/site/quest/category-icon-scroll.PNG" alt="Accomplie"><a href="{% url 'detail_fiche' quete.reservee.id %}"><span class="quest-lead">{{ quete.reservee.nom }} {{ quete.reservee.prenom }}</span></a>
	  {% elif quete.etat == 3 %} <img class="quest-icon" src="/fiches/media/images/site/quest/category-icon-book.PNG" alt="Accomplie"><a href="{% url 'detail_fiche' quete.leader.id %}"><span class="quest-lead">{{ quete.leader.nom }} {{ quete.leader.prenom }}</span></a>
	  {% endif %}
	</h4>
	{{quete.objectif}}
      </div> <!-- media-body -->
      {% if not forloop.counter0|divisibleby:'2' %}
      <div class="media-right media-middle">
	<a href="{% url 'quete' quete.id %}">
	  {% if quete.difficulte == 1 %}
	  <img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier1.PNG" alt="Facile">
	  {% elif quete.difficulte == 2 %}
	  <img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier2.PNG" alt="Moyenne">
	  {% elif quete.difficulte == 3 %}
	  <img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier3.PNG" alt="Difficile">
	  {% elif quete.difficulte == 4 %}
	  <img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier4.PNG" alt="Très difficile">
	  {% elif quete.difficulte == 5 %}
	  <img class="media-object" src="/fiches/media/images/site/quest/Achievement_LegionPVP4Tier6.PNG" alt="Suicidaire">
	  {% elif quete.difficulte == 6 %}
	  <img class="media-object" src="/fiches/media/images/site/quest/ACHIEVEMENT_GUILDPERK_LADYLUCK.PNG" alt="Inconnu">
	  {% endif %}
	</a>
      </div> <!-- media-right -->
      {% endif %}
    </div> <!-- media -->
    {% endfor %}
  </div> <!-- back -->
<div class="quest-pages">
    <span>Page {{ quetes_list.number }} sur {{ quetes_list.paginator.num_pages }}</span>
  <nav aria-label="Page navigation" id="pagination">
    <ul class="pagination pagination-sm">
      {% if quetes_list.has_previous %}
      <li>
	<a href="?page={{ quetes_list.previous_page_number }}" aria-label="Précédent">
	  <span aria-hidden="true">&laquo;</span>
	</a>
      </li>
      {% endif %}

      {% for p in quetes_list.paginator.page_range %}
      <li>
	<a href="?page={{ p }}">
	  {{p}}
	</a>
      </li>
      {% endfor %}

      {% if quetes_list.has_next %}
      <li>
	<a href="?page={{ quetes_list.next_page_number }}" aria-label="Suivant">
          <span aria-hidden="true">&raquo;</span>
	</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div> <!-- quest-pages -->
{% else %}
<p>Aucune quête</p>
{% endif %}

</div> <!-- quest-body -->

{% endblock %}
