{% extends "site/base.html" %}

{% load filters %}
{% load static %}

{% block script %}
{% endblock %}


{% block title %}{{mission.operation}}{% endblock %}
{% block contenu_header %}
<meta property="og:title" content="{{mission.operation}}, à {{ mission.lieu }}, le {{ mission.jour }} {{mission.mois|mois}} {{mission.annee}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.filsdegarithos.ovh{{ request.get_full_path }}" />
<meta property="og:image" content="https://www.filsdegarithos.ovh/static/site/images/page.PNG" />
<meta property="og:description" content="{{ mission.get_type_mis_display }} - Objectif : {{ mission.objectif|linebreaksbr }} Déroulement : {{ mission.deroulement|linebreaksbr }}" />
{% endblock %}

{% block page-title %}<a href="{% url 'campagne' mission.operation.id %}">{{mission.operation}}</a>{% endblock %}

{% block content %}

<div class="campaign-body">


  <div id="quest-display" class="media">
    <div class="mission" id="rapport">

      <h1><a href="{% url 'campagne' mission.operation.id %}" id="campaign-title">{{mission.operation}}</a></h1>
      {% if mission.operation and mission.operation.dirigeant %}
      <span class="mission-lead">
	<b>Dirigeant de l'opération :</b>
      <a href="{% url 'detail_fiche' mission.operation.dirigeant.id %}">
	 {{ mission.operation.dirigeant.prenom }} {{ mission.operation.dirigeant.nom }}</span></a><br>
      {% endif %}
      <b>Dirigeant{% if mission.autre_dirigeant %}s{% endif %} de la mission :</b>
      	{% if mission.dirigeant %}
      <a href="{% url 'detail_fiche' mission.dirigeant.id %}">
	{{ mission.dirigeant.prenom }} {{ mission.dirigeant.nom }}</span></a>
{% else %}
      <a href="{% url 'detail_fiche' mission.operation.dirigeant.id %}">
	{{ mission.operation.dirigeant.prenom }} {{ mission.operation.dirigeant.nom }}</span></a><br>
{% endif %}
      {% if mission.autre_dirigeant %}
      et
      <a href="{% url 'detail_fiche' mission.autre_dirigeant.id %}"><span class="quest-lead">{{ mission.autre_dirigeant.prenom }} {{ mission.autre_dirigeant.nom }}</span></a>
      {% endif %}<br>
      <div class="mission-infos">
	{{ mission.lieu }}, le {{ mission.jour }}
	{% if mission.jour == 1 %}er{% endif %} <!-- mission.jour -->
	{% if not utilisateur.infos %}
	{% if mission.jour != 1 %}ème{% endif %} <!-- mission.jour -->
	jour du
	{{mission.mois}}
	{% if mission.mois == 01 %}er mois{% else %}ème mois{% endif %} <!-- mission.mois -->
	de l'an {{mission.annee}} <br>
	{% endif %} <!-- not utilisateurs.infos -->
	{% if utilisateur.infos.affichage_date == 'n' %}
	{{mission.mois|mois}} {{mission.annee}}
	{% elif utilisateur.infos.affichage_date == 'l' %}
	{% if mission.jour != 1 %}ème{% endif %}
	jour du
	{{mission.mois}}
	{% if mission.mois == 01 %}er mois{% else %}ème mois{% endif %}
	de l'an {{mission.annee}} <br>
	{% endif %}
	<b>Type :</b>
	{{ mission.get_type_mis_display }}<br>
	<b>Objectif :</b>
	{{ mission.objectif|linebreaksbr }}<br>
	<b>Participants :</b>
	{{ mission.participants|linebreaksbr }}<br>
	<b>Déroulement de la mission :</b><br>
	<span {% if count > 2000 %} style="font-size:80%;" {% endif %}>
	    {{ mission.deroulement|linebreaksbr }}<br>
	</span>
	<div class="signature">
	  {% if 'c: ' in mission.signature_url %}
	  {{ mission.signature_url|slice:"3:" }}<br>
	  {% elif 'i: ' in mission.signature_url %}
	  <img src="{{image.image.url}}" alt="Signature">
	  {% endif %}
	</div>
      </div> <!-- mission-infos -->

    </div> <!-- mission -->
  </div> <!-- quest-display -->
  <div class="mission-pages">
    <nav aria-label="...">
      <ul class="pager mission-pager">
	{% if mission_pre and mission.operation %}
	<li class="previous mission-p-f"><a href="{% url 'mission' mission.operation.id mission_pre.id %}"><span aria-hidden="true">&larr;</span> Précédente</a></li>
	{% endif %}
	{% if mission_sui and mission.operation  %}
	<li class="next mission-p-f"><a href="{% url 'mission' mission.operation.id mission_sui.id %}">Suivante <span aria-hidden="true">&rarr;</span></a></li>
	{% endif %}
      </ul>
    </nav>
  </div>
  {% if perms.fiches.veteran %}
<a class="btn btn-campaign" id="centre" href="{% url 'editer_mission' mission.id %}">Editer mission</a>
{% endif %}
</div>

{% endblock %}
