{% extends "site/base.html" %}

{% load filters %}
{% load static %}

{% block script %}
{% endblock %}


{% block title %}Sorts {% if classe_c %}du {% else %}de l'{% endif %}{{ classe.nom|lower }}{% endblock %}
{% block header %}{% endblock %}

{% block content %}

<div class="sorts-body">

  <div class="page-header" id="sorts-header" onclick="document.location='{% url 'classes' %}'">
    <div class="sorts-head">
      <h1>Sorts {% if classe_c %}du {% else %}de l'{% endif %}{{ classe.nom|lower }}</h1>
    </div> <!-- quest-head -->
  </div>   <!-- page-header -->

  <div class="black">
    <div id="quest-display">
      <div class="sorts">
      {% if sorts_list %}
      {% for sort in sorts %}
      <div class="media sort">
	<div class="media-left media-middle sort-media">
	  <img class="sort-icone" src="{% get_media_prefix %}images/ICONS/{{sort.image_url}}.PNG" alt="{{classe.nom}}" id="icone">
	</div>
	<div class="media-body media-middle sort-nom">
	  {{sort.nom}}
	</div>
      </div>
      {% endfor %}
      {% else %}
      Aucun sort.
      {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
