{% extends "fiches/aff_objet.html" %}


{% block armure %}
<!-- <div class="media"> -->
<!--   <div class="media-body"> -->
<!--     <ul> -->
<!-- <ul> -->
<!-- <li><b>Localisation : </b>{{ armure.get_membre_display }}</li> -->
<!-- </ul> -->

<div class="row">
  {% if armure.effet != 'Aucun' %}
  <div class="col-md-10">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h4 class="panel-title">Effet</h3>
      </div>
      <div class="panel-body">
	{{ armure.effet }}
	{% if armure.autres_effets != 'Aucun' %}
	<br>
	{{ armure.autres_effets|linebreaksbr }}
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="row">
  {% if armure.effet_ig != 'Aucun' %}
  <div class="col-md-10">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h4 class="panel-title">Effet en jeu</h4>
      </div>
      <div class="panel-body">
	{{ armure.effet_ig|linebreaksbr }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
<div class="col-md-10" id="stats-panel">
  <div class="panel panel-defaut" id="details-panels">
    <div class="panel-heading" id="localisation">
      <h4 class="panel-title">Equipe : {{ armure.get_membre_display }}</h4>
    </div>
    <div class="panel-body">
      <div class="row">
	{% if armure.armure != 0 %}
	<div class="col-md-3">
	  <div class="panel panel-defaut" id="details-panels">
	    <div class="panel-heading">
	      <h3 class="panel-title">Armure</h3>
	    </div>
	    <div class="panel-body" id="stat">
	      {{ armure.armure }}
	    </div>
	  </div>
	</div>
	{% endif %}
	{% if armure.force != 0 %}
	<div class="col-md-3">
	  <div class="panel panel-defaut" id="details-panels">
	    <div class="panel-heading">
	      <h3 class="panel-title">Force</h3>
	    </div>
	    <div class="panel-body" id="stat">
	      {{ armure.force }}
	    </div>
	  </div>
	</div>
	{% endif %}
	{% if armure.agi != 0 %}
	<div class="col-md-3">
	  <div class="panel panel-defaut" id="details-panels">
	    <div class="panel-heading">
	      <h3 class="panel-title">Agilité</h3>
	    </div>
	    <div class="panel-body" id="stat">
	      {{ armure.agi }}
	    </div>
	  </div>
	</div>
	{% endif %}
	{% if armure.intell != 0 %}
	<div class="col-md-3">
	  <div class="panel panel-defaut" id="details-panels">
	    <div class="panel-heading">
	      <h3 class="panel-title">Intelligence</h3>
	    </div>
	    <div class="panel-body" id="stat">
	      {{ armure.intell }}
	    </div>
	  </div>
	</div>
	{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
