
{% extends "base.html" %}

{% load filters %}

{% block title %}{{ objet.nom }}{% endblock %}
{% block page-title %}
{{ objet.nom }}
{% endblock %}


{% block edition %}
{% if user.is_authenticated %}
{% if perms.fiches.change_objet %}
<a class="btn btn-default" href="{% url 'editer_objet' objet.id %}">Editer objet</a>
{% endif %}
{% if objet.armure and perms.fiches.change_armure %}
<a class="btn btn-default" href="{% url 'editer_armure' objet.armure.id %}">Editer armure</a>
{% endif %}
{% endif %}
{% endblock %}
{% block user %}
{% endblock %}



{% block content %}

<div class="media">
  <div class="media-left media-middle">
    <a target="_blank" href={{ objet.image.url }}>
      <img id="icone" class="media-object" src={{ objet.image.url }} alt="Icône">
    </a>
  </div>
  <div class="media-body" id="objet-middle">
    <ul>
      <li {% if objet.qualite == 'm' %}id="objet-mediocre"
	  {% elif objet.qualite == 'c' %}id="objet-commun"
	  {% elif objet.qualite == 'i' %}id="objet-inhabituel"
	  {% elif objet.qualite == 'r' %}id="objet-rare"
	  {% elif objet.qualite == 'e' %}id="objet-epique"
	  {% elif objet.qualite == 'l' %}id="objet-legendaire"
	  {% elif objet.qualite == 'u' %}id="objet-unique"
	  {% endif %}><b>{{ objet.nom|capfirst }}</b></li>
      <li><b>Description&nbsp;: </b>{{ objet.description }}</li>
      <li><b>Prix&nbsp;: </b>
	{{ objet.prix|p_or }} <img id="money" src="/fiches/media/images/site/UI-GoldIcon.PNG" alt="Souverains">
	{{ objet.prix|p_argent }} <img id="money" src="/fiches/media/images/site/UI-SilverIcon.PNG" alt="Souverains">
	{{ objet.prix|p_cuivre }} <img id="money" src="/fiches/media/images/site/UI-CopperIcon.PNG" alt="Souverains">
      </li>
      <li><b>Poids&nbsp;: </b>{{ objet.poids }} grammes</li>
    </ul>
  </div>
  <div class="media-right" id="objet-right">
    {% block armure %}
    {% endblock %}
  </div>
</div>
{% endblock %}
