
{% extends "base.html" %}

{% block script %}
{% endblock %}


{% block title %}Conseils d'utilisation du registre{% endblock %}
{% block page-title %}
Conseils d'utilisation du registre
{% endblock %}




{% block content %}

<div class="media">
  <div class="media-body">
    <a name="fiches"></a>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils
    <a name="utilisateurs"</a>
<br>
       Autres conseils
<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>

    {% if perms.fiches.objet_ok %}
<a name="objets"></a>
<br><br>
       Conseils
       <a name="rpg"></a>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
    des conseils<br>
       Conseils
    {% endif %}
  </div>
</div>
{% endblock %}
