
{% extends "base.html" %}

{% block script %}
{% endblock %}


{% block title %}Conseils d'utilisation du registre{% endblock %}
{% block page-title %}
Conseils d'utilisation du registre
{% endblock %}




{% block content %}

<div class="media">
  <div class="media-body">
    <a name="fiches"></a>
    <h3>Création et édition de fiches</h3>
    <ul>
      <li>
	La plupart des champs sont remplis avec des valeurs par défaut. Les nom et prénom du personnages sont requis. Si vous ne comptez pas remplir l'un des champ avec une valeur par défaut, n'y touchez pas, cela permettra un meilleur affichage de votre personnage. En effet, certains champs ne sont simplement pas affichés quand ils n'ont pas leur valeur par défaut.
      </li>
      <li>
	Pour les champs numériques, n'hésitez pas à rentrer une valeur à la main.
      </li>
      <li>
	La date de naissance comprend un jour de 1 à 31, un mois de naissance de 1 à 12 et une année de naissance qui devrait être suffisante pour tous les personnages de World of Warcraft. Faites néanmoins bien attention ; aucune vérification n'est effectuée sur les mois qui n'ont pas plus de 30 jours (et encore moins 28).
      </li>
      <li>
	Par défaut, les zones et lieux de naissance sont réglés sur "Noirebois". Il s'agit du duché fictif où se trouvent les "Fils de Garithos" dans les Maleterres.
      </li>
      <li>
	Pour le type de personnage : mettez joué si le personnage est effectivement joué, personnage non joué sinon. "Personnage jouable" sert pour laisser les gens savoir que le personnage -à priori lié à l'un des vôtres- n'est pas joué, mais qu'ils peuvent vous contacter pour le jouer.
      </li>
      <li>
	Vous pouvez choisir d'afficher ou non le nom du personnage en jeu, le fait que vous êtes son créateur, et l'inventaire. Ces paramètres ne seront visibles que par vous si vous les décochez.
      <li>
    </ul>
    <a name="utilisateurs"</a>
       <h3>Gestion utilisateur</h3>
<br>

    {% if perms.fiches.objet_ok %}
<a name="objets"></a>
<h3>Créer objet/armure/case/inventaire/equipement</h3>
       Conseils
       <a name="rpg"></a>
<h3>Création et édition des personnages de rpg</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
