
{% extends "base.html" %}

{% load filters %}
{% load static %}

{% block script %}
$(function () {

/* Well, that's more complicated than it should.
 * When mousing over an object, we want to display a tooltip with the object info.
 * But, that info is not in the page, so we need to get it with an ajax call.
 * Only after the ajax call succeedd we build the Bootstrap tooltip.  However,
 * if the mouse is still over the object, the tooltip doesn't show because the
 * listeners for the tooltip are not triggered.  We have to keep track ourselves
 * of whether the mouse is still on the object using two additional listeners.
 * Once the tooltip is built and shown (or not), we can destroy all this machinery
 * and let Bootstrap tooltip handle the rest.
 */
$('[data-toggle="objet-tooltip"]').on('mouseenter', getTooltip)
$('[data-toggle="objet-tooltip"]').on('mouseenter', onMouseEnter)
$('[data-toggle="objet-tooltip"]').on('mouseleave', onMouseLeave)

function getTooltip() {
  var elem = this;
  var enchant = $(elem).data('enchantement');
  var enchantPath = enchant ? enchant + '/' : '';
  var tooltipUrl = elem.getAttribute('href') + enchantPath + 'tooltip/';
  $(elem).off('mouseenter', getTooltip);
  $.ajax(tooltipUrl)
  .done(function(data) {
    $(elem).tooltip({html: true, placement: 'top', title: data});
    if ($(elem).data("isMouseOnUs")) {
      $(elem).tooltip('show');
    }
    $(elem).off('mouseenter', onMouseEnter);
    $(elem).off('mouseleave', onMouseLeave);
  });
}

function onMouseEnter() {
  $(this).data("isMouseOnUs", true);
}

function onMouseLeave() {
  $(this).data("isMouseOnUs", false)
}

});
{% endblock %}


{% block title %}Fiche de {{ fiche.prenom|capfirst }} {{ fiche.nom|capfirst }}{% endblock %}
{% block page-title %}
{{ fiche.prenom|capfirst }} {{ fiche.nom|capfirst }}
{% endblock %}


{% block edition %}
{% if user.is_authenticated %}
{% if user.id == fiche.createur.id %}
<a class="btn btn-default" href="{% url 'editer_fiche' fiche.id %}">Editer</a>
<a class="btn btn-default" href="{% url 'supprimer_fiche' fiche.id %}">Supprimer</a>
{% endif %}
{% endif %}
{% endblock %}
{% block user %}
{% if fiche.afficher_createur or not user.is_anonymous and user.id == fiche.createur.id %}
{% if fiche.createur %}
<span><b>Créateur :</b> <a href="{% url 'utilisateur' fiche.createur.id %}">{{ fiche.createur }}</a></span>
{% else %}
<span><b>Créateur :</b> Aucun</span>
{% endif %}
{% endif %}
{% if fiche.afficher_pseudo or not user.is_anonymous and user.id == fiche.createur.id %}
<span><b>Personnage en jeu :</b> {{ fiche.pseudo_du_personnage }}</span>
{% endif %}
<span><b>Date de création : </b> {{ fiche.creation }}</span>
{% endblock %}



{% block content %}

<div class="media">
  <div class="media-body media-middle" id="detail-perso">
    <div id="center">
      <h3 id="nom">
	{{ fiche.prenom|capfirst }}
	{% if fiche.autres_prenoms != 'Aucun' %}
	{{ fiche.autres_prenoms }}
	{% endif %}
	{{ fiche.nom|capfirst }}
	{% if fiche.ne != 'Non applicable' %}
	né{% if fiche.sexe == 'f'%}e{% endif %} {{ fiche.ne }}
	{% endif %}
      </h3>
      {{ fiche.get_pj_display }} et {{ fiche.get_etat_display|lower }}
      <ul>
	{% if fiche.titre != 'Aucun' %}
	<li><b>Titre(s) et/ou grade&nbsp;: </b><span id="attribute_value">{{ fiche.titre|capfirst  }}</span></li>
	{% endif %}
	{% if fiche.autres_titres != 'Aucun' %}
	<li><b>Autres titres&nbsp;: </b><span id="attribute_value">{{ fiche.autres_titres|linebreaksbr }}</span></li>
	{% endif %}
	<li><b>Profession&nbsp;: </b><span id="attribute_value">{{fiche.profession|capfirst }}</span></li>
	<li><b>Sexe&nbsp;: </b><span id="attribute_value">{{ fiche.get_sexe_display }}</span></li>
	<li><b>Race&nbsp;: </b><span id="attribute_value">{{ fiche.race|capfirst }}</span></li>
	<li><b>Date de naissance&nbsp;: </b>
	  <span id="attribute_value">
	    {{fiche.jour_de_naissance}}
	    {% if fiche.jour_de_naissance == 1 %}er{% endif %} <!-- fiche.jour -->
	    {% if utilisateur.is_anonymous or not utilisateur.is_anonymous and not utilisateur.infos %}
	    {% if fiche.jour_de_naissance != 1 %}ème{% endif %} <!-- fiche.jour -->
	    jour du
	    {{fiche.mois_de_naissance}}
	    {% if fiche.mois_de_naissance == 01 %}er mois{% else %}ème mois{% endif %} <!-- fiche.mois -->
	    de l'an {{fiche.annee_de_naissance}} <br>
	    {% endif %} <!-- not utilisateurs.infos -->
	    {% if not utilisateur.is_anonymous and utilisateur.infos and utilisateur.infos.affichage_date == 'n' %}
	    {{fiche.mois_de_naissance|mois}} {{fiche.annee_de_naissance}}
	    {% elif not utilisateur.is_anonymous and utilisateur.infos and utilisateur.infos.affichage_date == 'l' %}
	    {% if fiche.jour_de_naissance != 1 %}ème{% endif %}
	    jour du
	    {{fiche.mois_de_naissance}}
	    {% if fiche.mois_de_naissance == 01 %}er mois{% else %}ème mois{% endif %}
	    de l'an {{fiche.annee_de_naissance}} <br>
	    {% endif %}
	    ({{fiche.annee_de_naissance|age}} an{{fiche.annee_de_naissance|age|pluralize}} cette année)
	</span></li>
	<li><b>Zone de naissance&nbsp;: </b><span id="attribute_value">{{ fiche.get_zone_de_naissance_display }}</span></li>
	<li><b>Ville de naissance&nbsp;: </b><span id="attribute_value">{{ fiche.ville_de_naissance|capfirst  }}</span></li>
	<li><b>Zone de résidence&nbsp;: </b><span id="attribute_value">{{ fiche.get_zone_de_residence_display }}</span></li>
	<li><b>Ville de résidence&nbsp;: </b><span id="attribute_value">{{ fiche.ville_de_residence|capfirst  }}</span></li>
	<li><b>Taille&nbsp;: </b><span id="attribute_value">{{ fiche.taille }}m</span></li>
	<li><b>Poids&nbsp;: </b><span id="attribute_value">{{ fiche.poids }} kg</span></li>
	<li><b>Couleur des yeux&nbsp;: </b><span id="attribute_value">{{ fiche.c_yeux }}</span></li>
	<li><b>Couleur des cheveux&nbsp;: </b><span id="attribute_value">{{ fiche.c_cheveux }}</span></li>
	<li><b>Main directrice&nbsp;: </b><span id="attribute_value">{{ fiche.get_main_dir_display }}</span></li>
	{% if fiche.signes_dis != 'Aucun' %}
	<li><b>Signes distinctifs&nbsp;: </b><br>{{ fiche.signes_dis|linebreaksbr }}</li>
	{% endif %}
      </ul>
    </div>
  </div>

  <div class="media-right media-middle">
    <a target="_blank" href={{ fiche.image.url }}>
      <img class="media-object" src={{ fiche.image.url }} alt="Portrait">
    </a>
  </div>

  <div class="panel panel-defaut" id="details-panels">
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body centre">
      {{fiche.description|linebreaksbr}}
    </div>
  </div>
  <div class="panel panel-defaut" id="details-panels">
    <div class="panel-heading">
      <h3 class="panel-title">Historique</h3>
    </div>
    <div class="panel-body centre">
      {{fiche.historique|linebreaksbr}}
    </div>
  </div>
  {% if fiche.relations != 'Aucune' %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Relations</h3>
      </div>
      <div class="panel-body centre">
	{{fiche.relations|linebreaksbr}}
      </div>
    </div>
  </div>
  {% endif %}
  {% if fiche.medailles != 'Non applicable/Aucune' %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Médaille(s)</h3>
      </div>
      <div class="panel-body centre">
	{{fiche.medailles|linebreaksbr}}
      </div>
    </div>
  </div>
  {% endif %}
  {% if fiche.competences != 'Aucune' %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Compétences</h3>
      </div>
      <div class="panel-body centre">
	{{fiche.competences|linebreaksbr}}
      </div>
    </div> <!-- panel panel-default -->
  </div>   <!-- col-md-6 -->
  {% endif %}
  {% if fiche.autres_informations != 'Aucune' %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Autres informations</h3>
      </div>
      <div class="panel-body centre">
	{{fiche.autres_informations|linebreaksbr}}
      </div>
    </div> <!-- panel panel-default -->
  </div>   <!-- col-md-6 -->
  {% endif %}
  {% if fiche.afficher_bourse or not user.is_anonymous and user.id == fiche.createur.id %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Bourse</h3>
      </div>
      <div class="panel-body centre">
	{% if fiche.bourse %}
	{{ fiche.bourse.argent|p_or }} <img id="money" src="/fiches/media/images/site/UI-GoldIcon.PNG" alt="Souverains d'or">
	{{ fiche.bourse.argent|p_argent }} <img id="money" src="/fiches/media/images/site/UI-SilverIcon.PNG" alt="Gruaux d'argent">
	{{ fiche.bourse.argent|p_cuivre }} <img id="money" src="/fiches/media/images/site/UI-CopperIcon.PNG" alt="Sous de cuivre"><br>
	{% if not user.is_anonymous and user.id == fiche.createur.id %}
	<a class="btn btn-default" href="{% url 'gerer_bourse' fiche.id fiche.bourse.id %}">Editer bourse</a>
	{% endif %}
	{% else %}
	{% if not user.is_anonymous and user.id == fiche.createur.id %}
	<a class="btn btn-default" href="{% url 'creer_bourse' fiche.id %}">Créer bourse</a>
	{% endif %}
	{% endif %}
      </div>
    </div> <!-- panel panel-default -->
  </div>   <!-- col-md-6 -->
  {% endif %}
  {% if fiche.afficher_inventaire or not user.is_anonymous and user.id == fiche.createur.id %}
  {% if fiche.inventaire %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Inventaire</h3>
      </div>
      <div class="panel-body">
	{{fiche.inventaire|linebreaksbr}}
      </div>
    </div> <!-- panel panel-default -->
  </div>   <!-- col-md-6 -->
  {% elif fiche.inventaire_fdg %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">{{fiche.inventaire_fdg.nom}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
	{% if not user.is_anonymous and user.id == fiche.createur.id %}
	<a href="{% url 'editer_inventaire' fiche.inventaire_fdg.id %}">Editer</a>
	{% endif %}
      </div>
      <div class="panel-body">
	<div class="inventory">
	  {% for case in fiche.inventaire_fdg.cases.all %}
	  <!-- <div class="container"> -->
	  <a class="number-inventory" target="_blank" href="{% url 'detail_objet' case.objet.id %}" data-toggle="objet-tooltip">
	    <img class="inventory-object" src="{% get_media_prefix %}/images/ICONS/{{case.objet.image_url}}.PNG" alt="Objet" id="icone">
	    {% if case.nombre > 1 %}
	    <span class="bottomright">{{case.nombre}}</span>
	    {% endif %}
	  </a>
	  <!-- </div> -->
	  <!-- - {{case.get_nom}}<br> -->
	  {% endfor %}
	  {% for i in range %}
	  <img class="media-object" src="/fiches/media/images/site/UI-EmptySlot-White.PNG" alt="Vide" id="icone">
	  {% endfor %}
	</div> <!-- inventory -->
      </div>	 <!-- panel-body -->
    </div>	 <!-- panel panel-default -->
  </div>	 <!-- col-md-6 -->
  {% endif %}	 <!-- fiche.inventaire -->

  {% endif %}	<!-- afficher inventaire -->

  {% if fiche.equipement %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">{{fiche.equipement.nom}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
	{% if not user.is_anonymous and user.id == fiche.createur.id %}
	<a href="{% url 'editer_equip' fiche.equipement.id %}">Editer</a>
	{% endif %}
      </div>
      <div class="panel-body">
	{% if mp %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' mp.id %}" data-toggle="objet-tooltip" {% if emp %} data-enchantement="{{emp.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{mp.objet.image_url}}.PNG" alt="Main principale" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-MainHand.PNG alt="Main principale" id="icone">
	{% endif %}
	{% if am %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' am.id %}" data-toggle="objet-tooltip" {% if eam %} data-enchantement="{{eam.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{am.objet.image_url}}.PNG" alt="Autre main" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-SecondaryHand.PNG alt="Autre main" id="icone">
	{% endif %}
	{% if aa %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' aa.id %}" data-toggle="objet-tooltip" {% if eaa %} data-enchantement="{{eaa.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{aa.objet.image_url}}.PNG" alt="Autre arme" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Ammo.PNG alt="Autre main" id="icone">
	{% endif %}
	{% if tete %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' tete.id %}" data-toggle="objet-tooltip" {% if etete %} data-enchantement="{{etete.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{tete.objet.image_url}}.PNG" alt="Tête" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Head.PNG alt="Tête" id="icone">
	{% endif %}
	{% if cou %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' cou.id %}" data-toggle="objet-tooltip" {% if ecou %} data-enchantement="{{ecou.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{cou.objet.image_url}}.PNG" alt="Cou" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Neck.PNG alt="Cou" id="icone">
	{% endif %}
	{% if epaules %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' epaules.id %}" data-toggle="objet-tooltip" {% if eepaules %} data-enchantement="{{eepaules.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{epaules.objet.image_url}}.PNG" alt="Epaules" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Shoulder.PNG alt="Epaules" id="icone">
	{% endif %}
	{% if dos %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' dos.id %}" data-toggle="objet-tooltip" {% if edos %} data-enchantement="{{edos.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{dos.objet.image_url}}.PNG" alt="Dos" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Shirt.PNG alt="Dos" id="icone">
	{% endif %}
	{% if torse %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' torse.id %}" data-toggle="objet-tooltip" {% if etorse %} data-enchantement="{{etorse.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{torse.objet.image_url}}.PNG" alt="Torse" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Chest.PNG alt="Torse" id="icone">
	{% endif %}
	{% if poignets %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' poignets.id %}" data-toggle="objet-tooltip" {% if epoignets %} data-enchantement="{{epoignets.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{poignets.objet.image_url}}.PNG" alt="Poignets" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Wrists.PNG alt="Poignets" id="icone">
	{% endif %}
	{% if mains %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' mains.id %}" data-toggle="objet-tooltip" {% if emains %} data-enchantement="{{emains.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{mains.objet.image_url}}.PNG" alt="Mains" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Hands.PNG alt="Mains" id="icone">
	{% endif %}
	{% if taille %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' taille.id %}" data-toggle="objet-tooltip" {% if etaille %} data-enchantement="{{etaille.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{taille.objet.image_url}}.PNG" alt="Taille" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Waist.PNG alt="Taille" id="icone">
	{% endif %}
	{% if jambes %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' jambes.id %}" data-toggle="objet-tooltip" {% if ejambes %} data-enchantement="{{ejambes.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{jambes.objet.image_url}}.PNG" alt="Jambes" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Legs.PNG alt="Jambes" id="icone">
	{% endif %}
	{% if pieds %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' pieds.id %}" data-toggle="objet-tooltip" {% if epieds %} data-enchantement="{{epieds.id}}"{% endif %}>
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{pieds.objet.image_url}}.PNG" alt="Pieds" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Feet.PNG alt="Pieds" id="icone">
	{% endif %}
	{% for anneau in doigts %}
	{% if anneau %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' anneau.id %}" data-toggle="objet-tooltip">
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{anneau.objet.image_url}}.PNG" alt="Doigt" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-RFinger.PNG alt="Doigt" id="icone">
	{% endif %}
	{% endfor %}
	{% for diver in divers %}
	{% if diver %}
	<a class="number-inventory" target="_blank" href="{% url 'detail_armure' diver.id %}" data-toggle="objet-tooltip">
	  <img class="inventory-object" src="{% get_media_prefix %}images/ICONS/{{diver.objet.image_url}}.PNG" alt="Divers" id="icone">
	</a>
	{% else %}
	<img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Relic.PNG alt="Divers" id="icone">
	{% endif %}
	{% endfor %}
      </div> <!-- panel-body -->
    </div>   <!-- panel-default -->
  </div>     <!-- col-md-6 -->
  {% endif %} <!-- fiche.equipement -->

  {% if fiche.equipement %}
  <div class="col-md-6">
    <div class="panel panel-defaut" id="details-panels">
      <div class="panel-heading">
	<h3 class="panel-title">Statistiques</h3>
      </div> <!-- panel-heading -->
      <div class="panel-body">
	{% if perms.fiches.fdg %}
	<b>Effets en jeu :</b>
	{% for effet in effets_ig %}
	{% if 'Aucun' not in effet %}
	{{ effet|linebreaksbr }}<br>
	{% endif %} <!-- aucun -->
	{% endfor %}<br>
	{% else %} <!-- perms.fiches -->
	<b>Effets :</b>
	{% for effet in effets %}
	{% if 'Aucun' not in effet %}
	{{ effet|linebreaksbr }}<br>
	{% endif %} <!-- aucun -->
	{% endfor %}<br>
	{% endif %} <!-- perms.fiches -->
	{% if runique %}
	"Set : Immunise à la magie"<br>
	{% endif %} <!-- runique -->
	{% if terradiance %}
	"Set : + 5 a l'attaque et la défense contre les morts-vivants"<br>
	{% endif %} <!-- terra -->
	{% if armure != 0 %}
	<b>Armure :</b> {{ armure }}<br>
	{% endif %} <!-- armure -->
	{% if force != 0 %}
	<b>Force :</b> {{ force }}<br>
	{% endif %} <!-- force -->
	{% if agi != 0 %}
	<b>Agilité :</b> {{ agi }}<br>
	{% endif %} <!-- agi -->
	{% if intell != 0 %}
	<b>Intelligence :</b> {{ intell }}
	{% endif %} <!-- intell -->
      </div> <!-- panel-body centre -->
    </div>   <!-- panel panel-default -->
  </div>
  {% endif %} <!-- fiche.equipement -->
</div>		<!-- media -->


{% endblock %}
