
{% extends "base.html" %}

{% block title %}Fiche de {{ fiche.prenom }} {{ fiche.nom }}{% endblock %}
{% block page-title %}
{{ fiche.prenom }} {{ fiche.nom }}
{% endblock %}


{% block edition %}
{% if user.is_authenticated %}
{% ifequal user.id fiche.createur.id %}
<a class="btn btn-default" href="{% url 'editer_fiche' fiche.id %}">Editer</a>
{% endifequal %}
{% endif %}
{% endblock %}
{% block user %}
{% if fiche.afficher_createur or user.id == fiche.createur.id %}
{% if fiche.createur %}
<span><b>Créateur :</b> <a href="{% url 'utilisateur' fiche.createur.id %}">{{ fiche.createur }}</a></span>
{% else %}
<span><b>Créateur :</b> Aucun</span>
{% endif %}
{% endif %}
{% if fiche.afficher_pseudo or user.id == fiche.createur.id %}
<span><b>Personnage en jeu :</b> {{ fiche.pseudo_du_personnage }}</span>
{% endif %}
<span><b>Date de création : </b> {{ fiche.creation }}</span>
{% endblock %}



{% block content %}

<div class="media">
  <div class="media-body">

      <p>{{ fiche.get_pj_display }}</p>
      <ul>
	<li><b>Nom&nbsp;: </b>{{ fiche.nom}}</li>
	<li><b>Prénom&nbsp;: </b>{{ fiche.prenom }}</li>
	<!-- <div id="spoiler" style="display:none"> -->
	<li><b>Autre(s) prénom(s)&nbsp;: </b>{{ fiche.autres_prenoms }}</li>
	<!-- </div> -->
	<!-- <button title="Click to show/hide content" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Show/hide</button> -->
	<li><b>Titre(s) et/ou grade&nbsp;: </b>{{ fiche.titre }}</li>

	<li><b>Sexe&nbsp;: </b>{{ fiche.get_sexe_display }}</li>
	<li><b>Race&nbsp;: </b>{{ fiche.race }}</li>
	<li><b>Date de naissance&nbsp;: </b>{{fiche.jour_de_naissance}}{% if fiche.jour_de_naissance == 01 %}er jour du{% else %}ème jour du
	  {% endif %}
	  {{fiche.mois_de_naissance}}{% if fiche.jour_mois_de_naissance == 01 %}er mois{% else %}ème mois
	  {% endif %}
	  de l'an {{fiche.annee_de_naissance}}</li>
	<li><b>Zone de naissance&nbsp;: </b>{{ fiche.get_zone_de_naissance_display }}</li>
	<li><b>Ville de naissance&nbsp;: </b>{{ fiche.ville_de_naissance }}</li>
	<li><b>Zone de résidence&nbsp;: </b>{{ fiche.get_zone_de_naissance_display }}</li>
	<li><b>Ville de résidence&nbsp;: </b>{{ fiche.ville_de_residence }}</li>
	<li><b>Taille&nbsp;: </b>{{ fiche.taille }}m</li>
	<li><b>Poids&nbsp;: </b>{{ fiche.poids }} kg</li>
	<li><b>Profession&nbsp;: </b>{{fiche.profession}}</li>
	<li><b>Medaille(s)&nbsp;: </b>{{fiche.medailles}}</li>
	<li><b>État&nbsp;: </b>{{ fiche.get_etat_display }}</li>
	<li><b>Description&nbsp;: </b>{{ fiche.description }}</li>
	<li><b>Historique&nbsp;: </b>{{ fiche.historique }}</li>
	<li><b>Relations&nbsp;: </b>{{ fiche.relations }}</li>
	{% if fiche.afficher_inventaire or user.id == fiche.createur.id %}
	<li><b>Inventaire&nbsp;: </b>{{ fiche.inventaire }}</li>
	{% endif %}
      </ul>
    </div>

  <div class="media-right">
    <a target="_blank" href={{ fiche.image.url }}>
      <img class="media-object" src={{ fiche.image.url }} alt="Portrait">
    </a>
  </div>
</div>
{% endblock %}
