
{% extends "base.html" %}

{% block script %}
$(function () {

$('[data-toggle="objet-tooltip"]').on('mouseenter', getTooltip)

function getTooltip() {
  var elem = this;
  var tooltipUrl = elem.getAttribute('href') + 'tooltip/';
  $.ajax(tooltipUrl)
  .done(function(data) {
    $(elem).tooltip({html: true, placement: 'top', title: data});
    $(elem).tooltip('show');
    $(elem).off('mouseenter', getTooltip);
  });
}

});
{% endblock %}


{% block title %}Fiche de {{ fiche.prenom }} {{ fiche.nom }}{% endblock %}
{% block page-title %}
{{ fiche.prenom }} {{ fiche.nom }}
{% endblock %}


{% block edition %}
{% if user.is_authenticated %}
{% ifequal user.id fiche.createur.id %}
<a class="btn btn-default" href="{% url 'editer_fiche' fiche.id %}">Editer</a>
<a class="btn btn-default" href="{% url 'supprimer_fiche' fiche.id %}">Supprimer</a>
{% endifequal %}
{% endif %}
{% endblock %}
{% block user %}
{% if fiche.afficher_createur or user.id == fiche.createur.id %}
{% if fiche.createur %}
<span><b>Créateur :</b> <a href="{% url 'utilisateur' fiche.createur.id %}">{{ fiche.createur }}</a></span>
{% else %}
<span><b>Créateur :</b> Aucun</span>
{% endif %}
{% endif %}
{% if fiche.afficher_pseudo or user.id == fiche.createur.id %}
<span><b>Personnage en jeu :</b> {{ fiche.pseudo_du_personnage }}</span>
{% endif %}
<span><b>Date de création : </b> {{ fiche.creation }}</span>
{% endblock %}



{% block content %}

<div class="media">
  <div class="media-body">

    <h3>{{ fiche.get_pj_display }} et {{ fiche.get_etat_display }}</h3>
    <ul>
      <li><b>Nom&nbsp;: </b>{{ fiche.nom|capfirst }}</li>
      <li><b>Prénom&nbsp;: </b>{{ fiche.prenom|capfirst }}</li>
      <!-- <div id="spoiler" style="display:none"> -->
      {% if fiche.autres_prenoms != 'Aucun' %}
      <li><b>Autre(s) prénom(s)&nbsp;: </b>{{ fiche.autres_prenoms|linebreaksbr }}</li>
      {% endif %}
      <!-- </div> -->
      <!-- <button title="Click to show/hide content" type="button" onclick="if(document.getElementById('spoiler') .style.display=='none') {document.getElementById('spoiler') .style.display=''}else{document.getElementById('spoiler') .style.display='none'}">Show/hide</button> -->
      {% if fiche.titre != 'Aucun' %}
      <li><b>Titre(s) et/ou grade&nbsp;: </b>{{ fiche.titre|capfirst  }}</li>
      {% endif %}
      {% if fiche.autres_titres != 'Aucun' %}
      <li><b>Autres titres&nbsp;: </b>{{ fiche.autres_titres|linebreaksbr }}</li>
      {% endif %}
      <li><b>Sexe&nbsp;: </b>{{ fiche.get_sexe_display }}</li>
      <li><b>Race&nbsp;: </b>{{ fiche.race|capfirst }}</li>
      <li><b>Date de naissance&nbsp;: </b>{{fiche.jour_de_naissance}}{% if fiche.jour_de_naissance == 01 %}er jour du{% else %}ème jour du
	{% endif %}
	{{fiche.mois_de_naissance}}{% if fiche.jour_mois_de_naissance == 01 %}er mois{% else %}ème mois
	{% endif %}
	de l'an {{fiche.annee_de_naissance}}</li>
      <li><b>Zone de naissance&nbsp;: </b>{{ fiche.get_zone_de_naissance_display }}</li>
      <li><b>Ville de naissance&nbsp;: </b>{{ fiche.ville_de_naissance|capfirst  }}</li>
      <li><b>Zone de résidence&nbsp;: </b>{{ fiche.get_zone_de_residence_display }}</li>
      <li><b>Ville de résidence&nbsp;: </b>{{ fiche.ville_de_residence|capfirst  }}</li>
      <li><b>Taille&nbsp;: </b>{{ fiche.taille }}m</li>
      <li><b>Poids&nbsp;: </b>{{ fiche.poids }} kg</li>
      <li><b>Profession&nbsp;: </b>{{fiche.profession|capfirst }}</li>
    </ul>
  </div>

  <div class="media-right">
    <a target="_blank" href={{ fiche.image.url }}>
      <img class="media-object" src={{ fiche.image.url }} alt="Portrait">
    </a>
  </div>

  <div class="panel panel-defaut" id="details-panels">
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
      {{fiche.description|linebreaksbr}}
    </div>
  </div>
  <div class="panel panel-defaut" id="details-panels">
    <div class="panel-heading">
      <h3 class="panel-title">Historique</h3>
    </div>
    <div class="panel-body">
      {{fiche.historique|linebreaksbr}}
    </div>
  </div>
  <div class="panel panel-defaut" id="details-panels">
    <div class="panel-heading">
      <h3 class="panel-title">Relations</h3>
    </div>
    <div class="panel-body">
      {{fiche.relations|linebreaksbr}}
    </div>
  </div>

  <div class="row">
    {% if fiche.medailles != 'Non applicable/Aucune' %}
    <div class="col-md-6">
      <div class="panel panel-defaut" id="details-panels">
	<div class="panel-heading">
	  <h3 class="panel-title">Médaille(s)</h3>
	</div>
	<div class="panel-body">
	  {{fiche.medailles|linebreaksbr}}
	</div>
      </div>
    </div>
    {% endif %}
    {% if fiche.afficher_inventaire or user.id == fiche.createur.id %}
    {% if fiche.inventaire %}
    <div class="col-md-6">
      <div class="panel panel-defaut" id="details-panels">
	<div class="panel-heading">
	  <h3 class="panel-title">Inventaire</h3>
	</div>
	<div class="panel-body">
	  {{fiche.inventaire|linebreaksbr}}
	</div>
      </div>
    </div>
    {% elif fiche.inventaire_fdg %}
    <div class="col-md-6">
      <div class="panel panel-defaut" id="details-panels">
	<div class="panel-heading">
	  <h3 class="panel-title">{{fiche.inventaire_fdg.nom}}</h3>
	</div>
	<div class="panel-body">
	  <div class="inventory">
	    {% for case in fiche.inventaire_fdg.cases.all %}
	    <!-- <div class="container"> -->
	    <a class="number-inventory" target="_blank" href="{% url 'detail_objet' case.objet.id %}" data-toggle="objet-tooltip">
	      <img class="inventory-object" src={{ case.objet.image.url }} alt="Objet" id="icone">
	      {% if case.nombre > 1 %}
		<span class="bottomright">{{case.nombre}}</span>
		{% endif %}
	      </a>
	    <!-- </div> -->
	  <!-- - {{case.get_nom}}<br> -->
	  {% endfor %}
	  {% for i in range %}
	  <img class="media-object" src="/fiches/media/images/site/UI-EmptySlot-White.PNG" alt="Vide" id="icone">
	  {% endfor %}
	  </div>
	</div>
      </div>
    </div>
    {% endif %}

    {% endif %}
  </div>

  {% if fiche.equipement %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-defaut" id="details-panels">
	<div class="panel-heading">
	  <h3 class="panel-title">{{fiche.equipement.nom}}</h3>
	</div>
	<div class="panel-body">
	  {% for armure in fiche.equipement.objets.all %}
	  - {{armure.get_nom}}<br>
	  {% endfor %}
	  {% if fiche.equipement.get_tete %}
	  <a class="number-inventory" target="_blank" href="{% url 'detail_armure' fiche.equipement.get_tete.id %}" data-toggle="objet-tooltip">
	    <img class="inventory-object" src={{ fiche.equipement.get_tete.objet.image.url }} alt="Tête" id="icone">
	  </a>
	  {% else %}
	  <img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Head.PNG alt="Tête" id="icone">
	  {% endif %}
	  {% if fiche.equipement.get_torse %}
	  <a class="number-inventory" target="_blank" href="{% url 'detail_armure' fiche.equipement.get_torse.id %}" data-toggle="objet-tooltip">
	    <img class="inventory-object" src={{ fiche.equipement.get_torse.objet.image.url }} alt="Tête" id="icone">
	  </a>
	  {% else %}
	  <img class="inventory-object" src=/fiches/media/images/site/UI-PaperDoll-Slot-Chest.PNG alt="Tête" id="icone">
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
  {% endif %}
</div>


{% endblock %}
