{% extends "base.html" %}

{% load l10n %}
{% load static %}

{% block contenu_header %}
<script src="{% static 'bower_components/image-picker/image-picker/image-picker.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'bower_components/image-picker/image-picker/image-picker.css' %}" />
<script>
  document.addEventListener('DOMContentLoaded', function() {
  $(".image-picker").imagepicker({show_label: true});
  });
</script>
{% endblock %}


{% block title %}Créer/éditer l'équipement{% endblock %}
{% block page-title %}Créer/éditer l'équipement{% endblock %}

{% block content %}



<div id="char_form">
  <form enctype="multipart/form-data" action="" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_nom">Nom&nbsp;</label> <input name="nom" required="" id="id_nom" maxlength="50" type="text" value="{{form.nom.value|default_if_none:''}}">
    </div>
    <!-- <div class="form-group"> -->
    <!--   <label for="id_objets">Objets&nbsp;:</label> -->
    <!--   <select size="14" name="objets" required="" multiple="multiple" id="id_objets" class="form-control"> -->

    <!--     {% for objet in objets %} -->
    <!--     <option value="{{objet.id}}"{% if objet.id in form.objets.value %} selected="" {% endif %}>{{objet.get_nom}}</option> -->
    <!--     {% endfor %} -->

    <!--   </select> -->
    <!-- </div> -->

    <div class="row">
      <div class="col-md-6">
        <div class="card card-defaut details-cards">
    	  <div class="card-header">
    	    <h3 class="card-title">Main principale</h3>
    	  </div>
    	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="mp"  id="id_mp" class="image-picker show-labels">
  		<option value=""></option>
  		{% for mp in mps %}
  		<option value="{{mp.id}}" {% if mp.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{mp.objet.image_url}}.PNG" data-img-label="{{mp.get_nom}}">{{mp.get_nom}}</option>
  		{% endfor %}
	      </select>
	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="emp" id="id_emp">
  		<option value="">----------</option>
  		{% for emp in emps %}
  		<option value="{{emp.id}}" {% if emp.id in form.enchantements.value %} selected="" {% endif %}>{{emp.nom}}</option>
  		{% endfor %}
	      </select>
	    </div> <!-- form-group -->
    	  </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->
      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Autre main</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="am"  id="id_am" class="image-picker show-labels">
    		<option value=""></option>
    		{% for am in ams %}
    		<option value="{{am.id}}" {% if am.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{am.objet.image_url}}.PNG" data-img-label="{{am.get_nom}}">{{am.get_nom}}</option>
    		{% endfor %}
	      </select>
              <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="eam"  id="id_eam">
    		<option value="">----------</option>
    		{% for eam in eams %}
    		<option value="{{eam.id}}" {% if eam.id in form.enchantements.value %} selected="" {% endif %}>{{eam.nom}}</option>
    		{% endfor %}
	      </select>
	    </div>
    	  </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->
      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Autre arme</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="aa"  id="id_aa" class="image-picker show-labels">
    		<option value=""></option>
    		{% for aa in aas %}
    		<option value="{{aa.id}}" {% if aa.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{aa.objet.image_url}}.PNG" data-img-label="{{aa.get_nom}}">{{aa.get_nom}}</option>
    		{% endfor %}
	      </select>
	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="eaa"  id="id_eaa">
    		<option value="">----------</option>
    		{% for eaa in eaas %}
    		<option value="{{eaa.id}}" {% if eaa.id in form.enchantements.value %} selected="" {% endif %}>{{eaa.nom}}</option>
    		{% endfor %}
	      </select>
	    </div>
    	  </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->
      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Tête</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="tete"  id="id_tete" class="image-picker show-labels">
    		<option value=""></option>
    		{% for tete in tetes %}
    		<option value="{{tete.id}}" {% if tete.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{tete.objet.image_url}}.PNG" data-img-label="{{tete.get_nom}}">{{tete.get_nom}}</option>
    		{% endfor %}
	      </select>
              <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="etete"  id="id_etete">
    		<option value="">----------</option>
    		{% for etete in etetes %}
    		<option value="{{etete.id}}" {% if etete.id in form.enchantements.value %} selected="" {% endif %}>{{etete.nom}}</option>
    		{% endfor %}
	      </select>
	    </div>
    	  </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->
      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Epaules</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="epaule"  id="id_epaule" class="image-picker show-labels">
    		<option value=""></option>
    		{% for epaule in epaules %}
    		<option value="{{epaule.id}}" {% if epaule.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{epaule.objet.image_url}}.PNG" data-img-label="{{epaule.get_nom}}">{{epaule.get_nom}}</option>
    		{% endfor %}
	      </select>
	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="eepaule"  id="id_eepaule">
    		<option value="">----------</option>
    		{% for eepaule in eepaules %}
    		<option value="{{eepaule.id}}" {% if eepaule.id in form.enchantements.value %} selected="" {% endif %}>{{eepaule.nom}}</option>
    		{% endfor %}
	      </select>
	    </div>
    	  </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->
      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Torse</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="torse"  id="id_torse" class="image-picker show-labels">
    		<option value=""></option>
    		{% for torse in torses %}
    		<option value="{{torse.id}}" {% if torse.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{torse.objet.image_url}}.PNG" data-img-label="{{torse.get_nom}}">{{torse.get_nom}}</option>
    		{% endfor %}
	      </select>
      	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="etorse" id="id_etorse">
  		<option value="">----------</option>
  		{% for etorse in etorses %}
  		<option value="{{etorse.id}}" {% if etorse.id in form.enchantements.value %} selected="" {% endif %}>{{etorse.nom}}</option>
  		{% endfor %}
	      </select>
	    </div>
    	  </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->
      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Mains</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="main"  id="id_main" class="image-picker show-labels">
    		<option value=""></option>
    		{% for main in mains %}
    		<option value="{{main.id}}" {% if main.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{main.objet.image_url}}.PNG" data-img-label="{{main.get_nom}}">{{main.get_nom}}</option>
    		{% endfor %}
	      </select>
      	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="emain" id="id_emain">
  		<option value="">----------</option>
  		{% for emain in emains %}
  		<option value="{{emain.id}}" {% if emain.id in form.enchantements.value %} selected="" {% endif %}>{{emain.nom}}</option>
  		{% endfor %}
	      </select>
	    </div>
    	  </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->

      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Taille</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Taille&nbsp;</label>
	      <select name="taille"  id="id_taille" class="image-picker show-labels">
    		<option value=""></option>
    		{% for taille in tailles %}
    		<option value="{{taille.id}}" {% if taille.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{taille.objet.image_url}}.PNG" data-img-label="{{taille.get_nom}}">{{taille.get_nom}}</option>
    		{% endfor %}
	      </select>
      	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="etaille" id="id_etaille">
  		<option value="">----------</option>
  		{% for etaille in etailles %}
  		<option value="{{etaille.id}}" {% if etaille.id in form.enchantements.value %} selected="" {% endif %}>{{etaille.nom}}</option>
  		{% endfor %}
	      </select>
	    </div>
    	  </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->

      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Jambes</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="jambe"  id="id_jambe" class="image-picker show-labels">
		<option value=""></option>
		{% for jambe in jambes %}
		<option value="{{jambe.id}}" {% if jambe.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{jambe.objet.image_url}}.PNG" data-img-label="{{jambe.get_nom}}">{{jambe.get_nom}}</option>
		{% endfor %}
	      </select>
      	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="ejambe" id="id_ejambe">
  		<option value="">----------</option>
  		{% for ejambe in ejambes %}
  		<option value="{{ejambe.id}}" {% if ejambe.id in form.enchantements.value %} selected="" {% endif %}>{{ejambe.nom}}</option>
  		{% endfor %}
	      </select>
	    </div>
          </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->

      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Dos</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="do"  id="id_do" class="image-picker show-labels">
		<option value=""></option>
		{% for do in dos %}
		<option value="{{do.id}}" {% if do.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{do.objet.image_url}}.PNG" data-img-label="{{do.get_nom}}">{{do.get_nom}}</option>
		{% endfor %}
	      </select>
      	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="edo" id="id_edo">
  		<option value="">----------</option>
  		{% for edo in edos %}
  		<option value="{{edo.id}}" {% if edo.id in form.enchantements.value %} selected="" {% endif %}>{{edo.nom}}</option>
  		{% endfor %}
	      </select>
	    </div>
          </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->

      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Cou</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="cou"  id="id_cou" class="image-picker show-labels">
		<option value=""></option>
		{% for cou in cous %}
		<option value="{{cou.id}}" {% if cou.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{cou.objet.image_url}}.PNG" data-img-label="{{cou.get_nom}}">{{cou.get_nom}}</option>
		{% endfor %}
	      </select>
      	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="ecou" id="id_ecou">
  		<option value="">----------</option>
  		{% for ecou in ecous %}
  		<option value="{{ecou.id}}" {% if ecou.id in form.enchantements.value %} selected="" {% endif %}>{{ecou.nom}}</option>
  		{% endfor %}
	      </select>
	    </div>
          </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->

      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Poignets</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="poignet"  id="id_poignet" class="image-picker show-labels">
		<option value=""></option>
		{% for poignet in poignets %}
		<option value="{{poignet.id}}" {% if poignet.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{poignet.objet.image_url}}.PNG" data-img-label="{{poignet.get_nom}}">{{poignet.get_nom}}</option>
		{% endfor %}
	      </select>
      	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="epoignet" id="id_epoignet">
  		<option value="">----------</option>
  		{% for epoignet in epoignets %}
  		<option value="{{epoignet.id}}" {% if epoignet.id in form.enchantements.value %} selected="" {% endif %}>{{epoignet.nom}}</option>
  		{% endfor %}
	      </select>
	    </div>
          </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->

      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Pieds</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <label for="id_nom">Objet&nbsp;</label>
	      <select name="pied"  id="id_pied" class="image-picker show-labels">
		<option value=""></option>
		{% for pied in pieds %}
		<option value="{{pied.id}}" {% if pied.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{pied.objet.image_url}}.PNG" data-img-label="{{pied.get_nom}}">{{pied.get_nom}}</option>
		{% endfor %}
	      </select>
      	      <label for="id_nom">Enchantement&nbsp;</label>
	      <select name="epied" id="id_epied">
  		<option value="">----------</option>
  		{% for epied in epieds %}
  		<option value="{{epied.id}}" {% if epied.id in form.enchantements.value %} selected="" {% endif %}>{{epied.nom}}</option>
  		{% endfor %}
	      </select>
	    </div>
          </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->

      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Doigts</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <!-- <label for="id_nom">Doigts&nbsp;</label> -->
	      <select name="doigt"  multiple="multiple" id="id_doigt" class="image-picker show-labels">
		<option value=""></option>
		{% for doigt in doigts %}
		<option value="{{doigt.id}}" {% if doigt.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{doigt.objet.image_url}}.PNG" data-img-label="{{doigt.get_nom}}">{{doigt.get_nom}}</option>
		{% endfor %}
	      </select>
	    </div>
          </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->

      <div class="col-md-6">
        <div class="card card-defaut details-cards">
      	  <div class="card-header">
      	    <h3 class="card-title">Divers</h3>
      	  </div>
      	  <div class="card-body centre">
	    <div class="form-group">
	      <!-- <label for="id_nom">Divers&nbsp;</label> -->
	      <select name="diver" multiple="multiple" id="id_diver" class="image-picker show-labels">
		<option value=""></option>
		{% for diver in divers %}
		<option value="{{diver.id}}" {% if diver.id in form.objets.value %} selected="" {% endif %} data-img-src="/fiches/media/images/ICONS/{{diver.objet.image_url}}.PNG" data-img-label="{{diver.get_nom}}">{{diver.get_nom}}</option>
		{% endfor %}
	      </select>
	    </div>
          </div>   <!-- card-body -->
        </div> <!-- card card-default -->
      </div>   <!-- col-md-6 -->
      <input name="objets" id="id_objets" type="hidden" value="">
      <input name="enchantements" id="id_enchantements" type="hidden" value="">
      <input class="btn btn-default" type="submit" value="Valider" />
  </form>

</div>



{% endblock %}
