{% extends "base.html" %}

{% load l10n %}

{% block title %}Créer/éditer l'équipement{% endblock %}
{% block page-title %}Créer/éditer l'équipement{% endblock %}

{% block content %}
<div id="char_form">
<form enctype="multipart/form-data" action="" method="post" class="form-horizontal">
  {% csrf_token %}

  <div class="form-group">
  <label for="id_nom">Nom&nbsp;</label> <input name="nom" required="" id="id_nom" maxlength="50" type="text" value="{{form.nom.value|default_if_none:''}}">

  <li><label for="id_objets">Objets&nbsp;:</label>
    <select name="objets" required="" multiple="multiple" id="id_objets" class="form-control">

  {% for objet in objets %}
  <option value="{{objet.id}}">{{objet.get_nom}}</option>
  {% endfor %}

</select></li>
</div>
<input class="btn btn-default" type="submit" value="Valider" />
</form>
{% endblock %}
