{% extends "base.html" %}

{% block title %}Accueil{% endblock %}
{% block page-title %}Bienvenue dans le registre !{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      	<div class="panel-heading">
	  <h3 class="panel-title">Bienvenue dans le registre !</h3>
	</div>
	<div class="rules">
	  Ici, vous pouvez créer les fiches de vos personnages. Même si le site a été fait pour les Fils de Garithos, tout le monde peut créer ses propres fiches. Les non-membres sont néanmoins limités à quinze fiches et n'ont pas accès à l'inventaire et l'équipement améliorés.<br><br>
	  Quelques règles s'appliquent : le site est fait pour la guilde principalement. Nous nous réservons donc le droit de supprimer des fiches qui ne respectent pas l'un des principes suivants : pas de trolls, pas de contenu adulte (y a f-list pour ça), pas de fiches darksasuke, pas de contenu qui cherche à contourner l'utilisation prévue. Si le contenu ne nous plaît pas, nous essaierons dans la mesure de possible de le modérer ou de le signaler à son auteur. Bien entendu, nous ne comptons pas supprimer des fiches parce que nous n'aimons pas le personnage ou son propriétaire.<br>
	</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      	<div class="panel-heading">
	  <h3 class="panel-title">Créer une fiche</h3>
	</div>
	<div class="index-container">
	  <img class="index-image" src="/fiches/media/images/site/crea_perso.png">
	  <div class="index-middle">
	    <div class="index-text"><a href="{% url 'creer_fiche' %}">Créer une fiche</a></div>
	  </div>
	</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      	<div class="panel-heading">
	  <h3 class="panel-title">Dernières fiches créées</h3>
	</div>
	<div id="center">
	  {% if latest_fiches %}
	  <ul>
	    {% for f in latest_fiches %}
	    <div class="character">
	      <li><a href="{% url 'detail_fiche' f.id %}">{{ f.nom }} {{ f.prenom }}</a></li>
	    </div>
	    {% endfor %}
	  </ul>
	  {% else %}
	  <p>Aucune fiche</p>
	  {% endif %}
	</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      	<div class="panel-heading">
	  <h3 class="panel-title">Conseils d'utilisation</h3>
	</div>
	<div id="center">
	<a href="{% url 'conseils' %}#fiches">Création et édition de fiches</a><br>
	<a href="{% url 'conseils' %}#utilisateurs">Gestion utilisateur</a><br>
	{% if perms.fiches.objet_ok %}
	<a href="{% url 'conseils' %}#objets">Créer objet/armure/case/inventaire/equipement</a><br>
	<a href="{% url 'conseils' %}#rpg">Création et édition des personnages de rpg</a><br>
	{% endif %}
	</div>
    </div>
  </div>

</div>

<!-- <div class="row"> -->
<!--   <div class="col-md-4"> -->
<!--     <div class="panel panel-default"> -->
<!--       	<div class="panel-heading"> -->
<!-- 	  <h3 class="panel-title">Créer des fiches</h3> -->
<!-- 	</div> -->
<!-- 	Dublabla -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="col-md-4"> -->
<!--     <div class="panel panel-default"> -->
<!--       	<div class="panel-heading"> -->
<!-- 	  <h3 class="panel-title">Créer des fiches</h3> -->
<!-- 	</div> -->
<!-- 	Dublabla -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="col-md-4"> -->
<!--     <div class="panel panel-default"> -->
<!--       	<div class="panel-heading"> -->
<!-- 	  <h3 class="panel-title">Dernières fiches créées</h3> -->
<!-- 	</div> -->

<!--     </div> -->
<!--   </div> -->
<!-- </div> -->


{% endblock %}
