{% extends "base.html" %}

{% block title %}Liste des objets{% endblock %}
{% block page-title %}Liste des objets{% endblock %}

{% block content %}
<div id="liste">
  {% if objets %}
  <span>Page {{ objets.number }} sur {{ objets.paginator.num_pages }}</span>
  <nav aria-label="Page navigation" id="pagination">
    <ul class="pagination pagination-sm">
      {% if objets.has_previous %}
      <li>
	<a href="?page={{ objets.previous_page_number }}" aria-label="Précédent">
	  <span aria-hidden="true">&laquo;</span>
	</a>
      </li>
      {% endif %}

      {% for p in objets.paginator.page_range %}
      <li>
	<a href="?page={{ p }}">
	  {{p}}
	</a>
      </li>
      {% endfor %}

      {% if objets.has_next %}
      <li>
	<a href="?page={{ objets.next_page_number }}" aria-label="Suivant">
          <span aria-hidden="true">&raquo;</span>
	</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <table style="width:100%">
    <tr>
      <th width="8%">Icône</th>
      <th>Nom</th>
      <th width="12%">Qualité</th>
      <th>Armure</th>
    </tr>
    {% for o in objets %}
    <tr>
      <!-- <div class="character"> -->
      {% if o.has_equipement %}
      {% if o.image %}
      <td><a target="_blank" href="{% url 'detail_armure' o.id %}"><img class="media-object" src={{ o.image.url }} alt="Portrait"></a></td>
      {% else %}
      <td><a target="_blank" href="{% url 'detail_armure' o.id %}"><img class="media-object" src="/objets/media/images/site/WoWUnknownItem01.PNG" alt="Portrait"></a></td>
      {% endif %}
      <td><a href="{% url 'detail_armure' o.id %}">{{ o.nom }}</a></td>
      <td><a href="{% url 'detail_armure' o.id %}">{{ o.get_qualite_display }}</a></td>

      <td><a href="{% url 'detail_armure' o.id %}">{{ o.armure.get_membre_display }}</a></td>
      {% else %}
      {% if o.image %}
      <td><a target="_blank" href="{% url 'detail_objet' o.id %}"><img class="media-object" src={{ o.image.url }} alt="Portrait"></a></td>
      {% else %}
      <td><a target="_blank" href="{% url 'detail_objet' o.id %}"><img class="media-object" src="/objets/media/images/site/WoWUnknownItem01.PNG" alt="Portrait"></a></td>
      {% endif %}
      <td><a href="{% url 'detail_objet' o.id %}">{{ o.nom }}</a></td>
      <td><a href="{% url 'detail_objet' o.id %}">{{ o.get_qualite_display }}</a></td>
      <td><a href="{% url 'detail_objet' o.id %}">-</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <nav aria-label="Page navigation" id="pagination">
    <ul class="pagination pagination-sm">
      {% if objets.has_previous %}
      <li>
	<a href="?page={{ objets.previous_page_number }}" aria-label="Précédent">
	  <span aria-hidden="true">&laquo;</span>
	</a>
      </li>
      {% endif %}

      {% for p in objets.paginator.page_range %}
      <li>
	<a href="?page={{ p }}">
	  {{p}}
	</a>
      </li>
      {% endfor %}

      {% if objets.has_next %}
      <li>
	<a href="?page={{ objets.next_page_number }}" aria-label="Suivant">
          <span aria-hidden="true">&raquo;</span>
	</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <span>Page {{ objets.number }} sur {{ objets.paginator.num_pages }}</span>
</div>

{% else %}
<p>Aucun objets</p>
{% endif %}

{% endblock %}
