{% extends "base.html" %}

{% load static %}

{% block title %}Objets et enchantements crées par {{ utilisateur.username|capfirst }}{% endblock %}
{% block page-title %}Objets et enchantements crées par {{ utilisateur.username|capfirst }}{% endblock %}

{% block script %}
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
{% endblock %}

{% block content %}

<div class="media">
  <div class="media-body">
    <ul>
      <li><b>Objets&nbsp;: </b>
	<ul id="liste_persos">
	  {% for o in utilisateur.objet.all %}
	  {% if user.id == o.createur.id %}
	  {% if o.has_equipement %}
	  <li>
	    {% if o.image_url %}
	  <a target="_blank" href="{% url 'detail_armure' o.armure.id %}">
	    <img class="portrait-icone" src="{% get_media_prefix %}images/ICONS/{{o.image_url}}.PNG" alt="Portrait">
	  </a>
	  {% else %}
	  <a target="_blank" href="{% url 'detail_armure' o.armure.id %}">
	    <img class="portrait-icone" src="/fiches/media/images/site/WoWUnknownItem01.PNG" alt="Portrait">
	  </a>
	  {% endif %}
	  <a href="{% url 'detail_armure' o.armure.id %}"
	     {% if o.qualite == 'm' %}id="objet-mediocre"
	     {% elif o.qualite == 'c' %}id="objet-commun"
	     {% elif o.qualite == 'i' %}id="objet-inhabituel"
	     {% elif o.qualite == 'r' %}id="objet-rare"
	     {% elif o.qualite == 'e' %}id="objet-epique"
	     {% elif o.qualite == 'l' %}id="objet-legendaire"
	     {% elif o.qualite == 'u' %}id="objet-unique"
	     {% endif %}>{{ o.nom }}</a></li>
	  {% else %}
	  <li>
	    {% if o.image_url %}
	  <a target="_blank" href="{% url 'detail_objet' o.id %}">
	    <img class="portrait-icone" src="{% get_media_prefix %}images/ICONS/{{o.image_url}}.PNG" alt="Portrait">
	  </a>
	  {% else %}
	  <a target="_blank" href="{% url 'detail_objet' o.id %}">
	    <img class="portrait-icone" src="/fiches/media/images/site/WoWUnknownItem01.PNG" alt="Portrait">
	  </a>
	  {% endif %}
	    <a href="{% url 'detail_objet' o.id %}"
	     {% if o.qualite == 'm' %}id="objet-mediocre"
	     {% elif o.qualite == 'c' %}id="objet-commun"
	     {% elif o.qualite == 'i' %}id="objet-inhabituel"
	     {% elif o.qualite == 'r' %}id="objet-rare"
	     {% elif o.qualite == 'e' %}id="objet-epique"
	     {% elif o.qualite == 'l' %}id="objet-legendaire"
	     {% elif o.qualite == 'u' %}id="objet-unique"
	     {% endif %}>{{ o.nom }}</a></li>
	  {% endif %}
	  {% endif %}
	  {% endfor %}
	</ul>
      </li>
    </ul>
    <ul>
      <li><b>Enchantements&nbsp;: </b>
	<ul id="liste_persos">
	  {% for e in utilisateur.enchantement.all %}
	  {% if user.id == e.createur.id %}
	  <li><a href="{% url 'detail_enchantement' e.id %}">
	     {{ e.nom }}</a>
	  </li>
	  {% endif %}
	  {% endfor %}
	</ul>
      </li>
    </ul>
  </div>


</div>

{% endblock %}
