{% extends "base.html" %}

{% load staticfiles %}
{% load static %}
{% load filters %}

{% block title %}Liste des personnages{% endblock %}
{% block page-title %}<a href={% url 'personnages' %}>Liste des personnages</a>{% endblock %}

{% block content %}
  <div id="center">
    <form action="{% url 'rechercher_fiche' %}" method="GET">
      <label>Rechercher par&nbsp;</label>
      <select name="recherche" id="id_recherche">
	<option value="nom" selected="">Nom</option>
	<option value="prenom">Prénom</option>
	<option value="titre">Titre</option>
	<option value="profession">Profession</option>
	<option value="ville_de_residence">Ville de résidence</option>
	<option value="competences">Compétence</option>
      </select>
      <input type="text" name="valeur"><br>
      <input type="submit" value="Chercher">
    </form>
  </div>

<div id="liste">
  {% if fiches %}
  <span>Page {{ fiches.number }} sur {{ fiches.paginator.num_pages }}</span>
  <nav aria-label="Page navigation" id="pagination">
    <ul class="pagination pagination-sm">
      {% if fiches.has_previous %}
      <li>
	{% if recherche %}
	<a href="?{% url_replace request 'page' fiches.previous_page_number %}" aria-label="Précédent">
	  {% else %}
	  <a href="?page={{ fiches.previous_page_number }}" aria-label="Précédent">
	  {% endif %}
	  <span aria-hidden="true">&laquo;</span>
	</a>
      </li>
      {% endif %}

      {% for p in fiches.paginator.page_range %}
      <li>
	{% if recherche %}
	    <a href="?{% url_replace request 'page' p %}">
	      {% else %}
	      <a href="?page={{ p }}">
		{% endif %}
	  {{p}}
	</a>
      </li>
      {% endfor %}

      {% if fiches.has_next %}
      <li>
	{% if recherche %}
	<a href="?{% url_replace request 'page' fiches.next_page_number %}" aria-label="Suivant">
	  {% else %}
	  <a href="?page={{ fiches.next_page_number }}" aria-label="Suivant">
	    {% endif %}
          <span aria-hidden="true">&raquo;</span>
	</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <table style="width:100%">
    <tr>
      <th>Nom du personnage</th>
      <th>Type</th>
      <th>Etat</th>
      <th>Zone de résidence</th>
      <th>Ville de résidence</th>
      <th>Profession</th>
      <th>Sexe</th>
      <th>Avatar</th>
    </tr>
    {% for f in fiches %}
    <tr>
      <!-- <div class="character"> -->
      <td><a href="{% url 'detail_fiche' f.id %}">{{ f.nom }} {{ f.prenom }}</a></td>
      <td><a href="{% url 'detail_fiche' f.id %}">{{ f.get_pj_display }}</a></td>
      <td><a href="{% url 'detail_fiche' f.id %}">{{ f.get_etat_display }}</a></td>
      <td><a href="{% url 'detail_fiche' f.id %}">{{ f.get_zone_de_residence_display }}</a></td>
      <td><a href="{% url 'detail_fiche' f.id %}">{{ f.ville_de_residence }}</a></td>
      <td><a href="{% url 'detail_fiche' f.id %}">{{ f.profession }}</a></td>
      {% if f.sexe == 'h' %}
      <td><a target="_blank" href="{% url 'detail_fiche' f.id %}"><img class="media-object" src="/fiches/media/images/site/male.PNG" alt="Homme"></a></td>
      {% else %}
      <td><a target="_blank" href="{% url 'detail_fiche' f.id %}"><img class="media-object" src="/fiches/media/images/site/female.PNG" alt="Femme"></a></td>
      {% endif %}
      {% if f.image %}
      <td><a target="_blank" href="{% url 'detail_fiche' f.id %}"><img class="media-object" src={{ f.image.url }} alt="Portrait"></a></td>
      {% else %}
      <td><a target="_blank" href="{% url 'detail_fiche' f.id %}"><img class="media-object" src="/fiches/media/images/site/no-image.png" alt="Portrait"></a></td>
      {% endif %}
      <!-- </div> -->
    </tr>
    {% endfor %}
  </table>
  <nav aria-label="Page navigation" id="pagination">
    <ul class="pagination pagination-sm">
      {% if fiches.has_previous %}
      <li>
	<a href="?page={{ fiches.previous_page_number }}" aria-label="Précédent">
	  <span aria-hidden="true">&laquo;</span>
	</a>
      </li>
      {% endif %}

      {% for p in fiches.paginator.page_range %}
      <li>
	<a href="?page={{ p }}">
	  {{p}}
	</a>
      </li>
      {% endfor %}

      {% if fiches.has_next %}
      <li>
	<a href="?page={{ fiches.next_page_number }}" aria-label="Suivant">
          <span aria-hidden="true">&raquo;</span>
	</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <span>Page {{ fiches.number }} sur {{ fiches.paginator.num_pages }}</span>
</div>

{% else %}
<p>Aucune fiche</p>
{% endif %}

{% endblock %}
