
{% extends "base.html" %}

{% block script %}
{% endblock %}


{% block title %}Conseils d'utilisation du registre{% endblock %}
{% block page-title %}
Conseils d'utilisation du registre
{% endblock %}




{% block content %}

<div class="media">
  <div class="media-body">
    <div id="center">
      La plupart des images appartient à Blizzard Entertainment et sont utilisées pour rappeler l'environnement dans lequel nous jouons en communauté.<br><br>
      Intéressé de savoir comment ce site est fait ?<br>
      <img src="/fiches/media/images/site/GitHub-Mark-32px.png" class="github-logo"/>
      <a href="https://github.com/Marie-Donnie/firp">Retrouvez-nous sur Github</a>
    </div>
  </div>
</div>
{% endblock %}
