{% extends "base.html" %}

{% block title %}Gérer le profil{% endblock %}
{% block page-title %}Gérer le profil{% endblock %}

{% block content %}

<form enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_image">Image&nbsp;:</label>
    <span id="description">
    {% if form.image.value %}
    Actuellement: <a href="{{MEDIA_URL}}{{form.image.value|default:'site/no-image.png'}}">{{form.image.value|default:'site/no-image.png'}}</a><br>
	<span id="description">
	  Modifier:
	</span>
	{% endif %}
      </span>
    <input name="image" id="id_image" type="file">
  </div>
  <div class="form-group">
    <label for="id_naissance">Naissance&nbsp;:</label> <input name="naissance" value="{{form.naissance.value|date:'d/m/Y'|default_if_none:'01/01/1990'}}" required="" id="id_naissance" type="text">
  </div>
  <div class="form-group">
    <span id="affichage_date"><b>Affichage date&nbsp;:</b></span>
    <label class="radio-inline" for="id_affichage_date_0">
      <input type="radio" name="affichage_date" value="n" required="" id="id_affichage_date_0" {% if form.affichage_date.value == 'n' %} checked="checked" {% endif %}>	Normal (ex: 1er janvier 37)</label>
    <label class="radio-inline" for="id_affichage_date_1">
      <input type="radio" name="affichage_date" value="l" required="" id="id_affichage_date_1" {% if form.affichage_date.value == 'l' or form.affichage_date.value == None %} checked="checked" {% endif %}> Long (ex: 1er jour du 1er mois 37)</label>

  </div>
  <input name="user" value="1" id="id_user" type="hidden">

  <input class="btn btn-default" type="submit" value="Valider" />
</form>

{% endblock %}
