{% load filters %}

    <ul>
      <li {% if objet.qualite == 'm' %}id="objet-mediocre"
	  {% elif objet.qualite == 'c' %}id="objet-commun"
	  {% elif objet.qualite == 'i' %}id="objet-inhabituel"
	  {% elif objet.qualite == 'r' %}id="objet-rare"
	  {% elif objet.qualite == 'e' %}id="objet-epique"
	  {% elif objet.qualite == 'l' %}id="objet-legendaire"
	  {% elif objet.qualite == 'u' %}id="objet-unique"
	  {% endif %}><b>{{ objet.nom|capfirst }}</b></li>
      <li><!-- <b>Description&nbsp;: </b> -->{{ objet.description }}</li>
      <li><b>Prix&nbsp;: </b>
	{{ objet.prix|p_or }} <img id="money" src="/fiches/media/images/site/UI-GoldIcon.PNG" alt="Souverains">
	{{ objet.prix|p_argent }} <img id="money" src="/fiches/media/images/site/UI-SilverIcon.PNG" alt="Souverains">
	{{ objet.prix|p_cuivre }} <img id="money" src="/fiches/media/images/site/UI-CopperIcon.PNG" alt="Souverains">
      </li>
      <li><b>Poids&nbsp;: </b>
	{% if objet.poids|kilos != 0 %}
	{{ objet.poids|kilos }} kilos et&nbsp;
	{% endif %}
	{{ objet.poids|grammes }} grammes
      </li>
      {% block armure %}
      {% endblock %}
    </ul>
