{% extends "fiches/tooltip_objet.html" %}


{% block armure %}
{% if armure.effet != 'Aucun' %}
<li>
Effet(s): {{ armure.effet }}
{% if armure.autres_effets != 'Aucun' %}
<br>
{{ armure.autres_effets|linebreaksbr }}
{% endif %}
</li>
{% endif %}
{% if armure.effet_ig != 'Aucun' %}
  <li>Effet en jeu : 	{{ armure.effet_ig|linebreaksbr }}</li>

  {% endif %}
  <li><b>Localisation :</b> {{ armure.get_membre_display }}<br></li>
  <li><b>Armure :</b> {{ armure.armure }}<br></li>
  <li><b>Force :</b> {{ armure.force }}<br></li>
  <li><b>Agilité :</b> {{ armure.agi }}<br></li>
  <li><b>Intelligence :</b> {{ armure.intell }}</li>

{% endblock %}
