{% extends "base.html" %}

{% block title %}Profil de {{ utilisateur.username }}{% endblock %}
{% block page-title %}{{ utilisateur.username }}{% endblock %}

{% block user %}
{% ifequal user.id utilisateur.id %}
<a class="btn btn-default" href="{% url 'editer_utilisateur' user.id %}">Editer</a>
{% endifequal %}
{% endblock %}


{% block content %}

<div class="media">
  <div class="media-body">
    <ul>
      <li>Pseudo&nbsp;: {{ utilisateur.username }}</li>
      <li>Inscription&nbsp;: {{ utilisateur.date_joined }}</li>
      <li>Personnages&nbsp;:
	<ul id="liste_persos">
	  {% for f in utilisateur.fiches.all %}
	  {% if f.aff_createur %}
	  <li><a href="{% url 'detail_fiche' f.id %}">{{ f.nom }} {{ f.prenom }}</a></li>
	  {% endif %}
	  {% endfor %}
	</ul>
      </li>
    </ul>
  </div>

  <div class="media-right">
    <a target="_blank">
      <img class="media-object">
    </a>
  </div>
</div>

{% endblock %}
