{% extends "base.html" %}

{% block title %}Profil de {{ utilisateur.username|capfirst }}{% endblock %}
{% block page-title %}{{ utilisateur.username|capfirst }}{% endblock %}

{% block script %}
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
{% endblock %}

{% block edition %}
{% ifequal user.id utilisateur.id %}
<a class="btn btn-default navbar-btn" href="{% url 'gestion_profil' %}" data-toggle="tooltip" title="Ajouter ou changer votre image de profil et votre date de naissance">Créer/editer profil</a>
{% endifequal %}
{% endblock %}

{% block user %}
{% ifequal user.id utilisateur.id %}
<a class="btn btn-default navbar-btn" href="{% url 'account_set_password' %}" data-toggle="tooltip" title="Changer le mot de passe de votre compte">Changer le mot de passe</a>
<a class="btn btn-default navbar-btn" href="{% url 'account_email' %}" data-toggle="tooltip" title="Ajouter un email ou changer votre email principal">Gestion des emails</a>
{% endifequal %}
{% endblock %}


{% block content %}

<div class="media">
  <div class="media-body">
    <ul>
      <li><b>Pseudo&nbsp;: </b>{{ utilisateur.username }}</li>
      {% if utilisateur.infos %}
      <li><b>Date de naissance&nbsp;: </b>{{ utilisateur.infos.naissance }}</li>
      {% endif %}
      <li><b>Inscription&nbsp;: </b>{{ utilisateur.date_joined }}</li>
      <li><b>Personnages&nbsp;: </b>
	<ul id="liste_persos">
	  {% for f in utilisateur.fiches.all %}
	  {% if f.afficher_createur %}
	  <li><a href="{% url 'detail_fiche' f.id %}">{{ f.nom }} {{ f.prenom }}</a></li>
	  {% endif %}
	  {% endfor %}
	</ul>
      </li>
    </ul>
  </div>

  <div class="media-right">
      {% if utilisateur.infos %}
    <a target="_blank" href={{ utilisateur.infos.image.url }}>
      <img class="media-object" src={{ utilisateur.infos.image.url }} alt="Portrait">
    {% else %}
      <a target="_blank" href="/fiches/media/images/site/no-image.png">
	<img class="media-object" src="/fiches/media/images/site/no-image.png" alt="Portrait">
    {% endif %}
      </a>
  </div>
</div>

{% endblock %}
