.edit-controls button,
 .edit-controls button:hover {
    padding-top: 0;
    padding-bottom: 0;
}

textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  text-align: center;
  background: #333;
  color: #fff;
  border: 1px solid #666;
}

textarea.invalid {
  background: #411;
  border: 1px solid #b00;
}

button:disabled {
  color: #888;
}

button.edit {
  visibility: hidden;
}

.card.editable:hover button.edit {
  visibility: visible;
}

.card.editable .card-header {
  position: relative;
}
