@font-face{
    font-family: "Morpheus";
    src: url('/static/MORPHEUS.TTF'),
    url('/static/MORPHEUS.TTF'); /* IE */
}

body {
    background-color: #1a1919;
    color: #fefefe;
}


.maps {
    position: relative;
}

.map {
    position: absolute;
}

#noirebois {
    width: 50%;
    top: 700px;
    left: 20%;
}

#comte_vent_est {
    width: 50%;
    top: 70px;
    left: 50%;
}

#haut_noirebois {
    width: 50%;
    top: 70px;
    left: 0px;
}

#comte_aesthran {
    width: 50%;
    top: 1400px;
    left: 50%;
}

#iles_du_kraken {
    width: 45%;
    top: 1600px;
    left: 00px;
}

.maps-body{
    background: #1a1919;
}

#maps-header {
    padding: 0px 0px 0px 0px;
    margin: 0% auto;
    color: #830205;
    text-align: center;
    font-family: morpheus;
    height: 150px;
    border-bottom: 0px;
}

#maps-header:hover {
    cursor: pointer;
    border: 2px solid #fefefe;
    border-radius: 5px;
}

h1 {
    color: #830205;
    font-family: morpheus;
    margin: 0% auto;
    padding-top: 2%;
    font-size: 283%;
}

#map {
    height: 600px;
    width: 1000px;
    margin: auto;
    background: #1a1919;
    border: 2px solid #830205;
    border-radius: 4px;
}