@font-face{
    font-family: "Morpheus";
    src: url('/static/MORPHEUS.TTF'),
    url('/static/MORPHEUS.TTF'); /* IE */
}

body {
    background-color: #000000;
    color: #fefefe;
}

h1 {
    color: #830205;
    font-family: morpheus;
}


a {
    color: #a72121;
}

a:focus,
a:hover {
    color: #fefefe;
}

.quest-short.media {
    position: relative;
    width: 80%;
    background-color: #000000;
    background-image: url("/static/site/images/parchment-light.jpg");
    padding: 10px 15px;
    border: 5px outset #fff;
    border-radius: 5px 20px;
    margin: 4% auto;
    color: #000;
    display: flex;
}

.quest-short:hover {
    cursor: pointer;
}

.quest-body {
    width: 80%;
    background-color: #000;
    margin: 0% auto;
    padding: 0% 0% 4% 0%;
    border-radius: 5px;
}

#quest-header {
    background-image: url("/static/site/images/parchment-light2.jpg");
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    border-bottom: 0;
    border: 1px ridge #edd5a9;
    border-radius: 3px;
    background-repeat: no-repeat;
    padding: 5px 1px;
    border: 0px;
    margin: 0%;
    background-position: center bottom;
}

#quest-header:hover {
    cursor: pointer;
    outline: 2px solid #edd5a9;
    border-radius: 5px;
}

.quest-head {
    /* background-image: url("/static/site/images/palbar.PNG"); */
    background-repeat: no-repeat;
    padding: 5px 1px;
    border: 0px;
    margin: 0%;
    background-position: center bottom;
}

#quest-header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #a97209;
    margin: 2% 0% 3% 0px;
    font-size: 283%;
    font-family: morpheus;
}

#quest-display {
    background: url("/static/site/images/page.PNG") no-repeat center;
    max-width: 1000px;
    min-height: 900px;
    margin: 1% auto;
    color: #000;
    background-size: contain;
    border: 3px groove #4d3a17;
    border-radius: 3px;
    width: 100%;
    background-color: #cbac73;
}

.quest-target {
    position: absolute;
    bottom: 8%;
    right: 9%;
    min-width: 300px;
}

.quest-portrait-frame {
    position: absolute;
    left: 6%;
    bottom: 0;
    width: 300px;
}

.quest-portrait {
    position: absolute;
    height: 71px;
    right: 44px;
    bottom: 37px;
}

.quest-portrait-name {
    color: #fff;
    position: absolute;
    width: 129px;
    text-align: center;
    font-size: 10px;
    right: 135px;
    bottom: 53px;
}

.quest-icon {
    margin: 1px;
    width: 26px;
}

.back {
    background-color: #000;
    background-image: url("/static/site/images/parchment-light2.jpg");
    width: 100%;
    overflow: hidden;
    border: 5px ridge #edd5a9;
    border-radius: 3px;
    margin: 0% auto;
}

.black {
    background-color: #000;
}

.quest-intern {

    min-height: 900px;
    position: relative;

}

.quest-attributes {
    padding-top: 100px;
    padding-left: 11%;
    padding-right: 8%;
    height: 550px;
    font-size: 1.2vw;
}

.quest-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 20px 50px 20px;
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #a97209;
    font-family: morpheus;
}

.quest-objective {
    margin: 0px 20px 20px 20px;
    display: block;
    text-align: center;
}

.quest-other-attributes {
    margin: 0px 20px;
    display: block;
    font-size: 1.1vw;
}

.quest-pages {
    float: right;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fefefe;
    text-decoration: none;
    background-color: #e4b951;
    border: 1px solid #fff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background-color: #e4cd51;
    border-color: #fff;
}

.quest-btn-default {
    color: #ddd;
    background: #e4b951;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #fff;
}

.quest-btn-default:focus,
.quest-btn-default:hover {
    color: #fefefe;
    background: #e4cd51;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #fff;
}

#centre {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

input, textarea {
    color: #000;
}

#id_reservee {
    color: #000;
}

.icones-text {
    border: 1px solid beige;
    flex: 1;
}

.icones {
    width: 64px;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.campaign-body {
    width: 80%;
    background-color: #000;
    margin: 0% auto;
    padding: 0% 0% 4% 0%;
    border-radius: 5px;
}

.fond {
    background-image: url("/static/site/images/palbg.PNG");
    background-size: contain;
    max-width: 1050px;
    min-height: 722px;
    margin: auto;
    width: 102%;
    background-repeat: no-repeat;
}

optgroup,
select,
textarea {
    color: #000;
}

#campaign-header {
    background-image: url("/static/site/images/bar2.PNG");
    padding: 0px 0px 0px 0px;
    border: 1px ridge #262423;
    border-radius: 3px;
    background-size: cover;
    width: 1050px;
    margin: 3% auto;
}

#campaign-header:hover {
    cursor: pointer;
    outline: 2px solid #edd5a9;
    border-radius: 5px;
}

.campaign-head {
    /* background-image: url("/static/site/images/palbar.PNG"); */
    background-repeat: no-repeat;
    padding: 5px 1px;
    border: 0px;
    margin: 0%;
    background-position: center bottom;
}

#campaign-header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #a97209;
    margin: 2% 0% 3% 0px;
    font-size: 283%;
    font-family: morpheus;
}

#campaign-display {
    background: url("/static/site/images/page.PNG") no-repeat center;
    width: 1000px;
    height: 900px;
    margin: 3% auto;
    color: #000;
    background-size: cover;
    border: 1px groove #edd5a9;
    border-radius: 3px;
}

.btn-campaign {
    color: #fff;
    font-size: 110%;
    background: #c872001a;
    border: 1px #c8720033 solid;
    margin: 2%;
}

.btn-campaign:hover,
.btn-campaign:focus {
    color: #c87200;
    background-color: #fefefe;
    border: 1px #c8720033 solid;
}

.campaigns {
    margin: 0% auto;
    width: 80%;
    padding: 100px 0%;
}

.campaign {
    text-align: center;
}

#campaign-title {
    color: #830205;
    font-family: morpheus;
    background-color: inherit;
    border: 0px;
    margin: 0;
    border-radius: 0;
    padding: 0;
}

.pagination-campaign > li > a,
.pagination-campaign > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fefefe;
    text-decoration: none;
    background-color: #c872001a;
    border: 1px #c8720033 solid;
}

.pagination-campaign > li > a:focus,
.pagination-campaign > li > a:hover,
.pagination-campaign > li > span:focus,
.pagination-campaign > li > span:hover {
    color: #fff;
    background-color: #c872001a;
    border: 1px #c8720033 solid;
}

.mission {
    text-align: center;
    padding: 3%;
}

.mission a {
    color: #fff;
    background-color: #c872001a;
    border: 1px #c8720033 solid;
    margin: 2%;
    border-radius: 12px;
    padding: 5px;
}

.mission h1 {
    margin: 3%;
}

.mission-pages {
    width: 1050px;
    margin: auto;
}

.mission-pager li > a, .mission-pager li > span {
    color: #fff;
    background-color: #c872001a;
    border: 1px #c8720033 solid;
}

.mission-pager li > a:focus,
.mission-pager li > a:hover,
.mission-pager li > span:focus,
.mission-pager li > span:hover {
    color: #c87200;
    background-color: #fefefe;
    border: 1px #c8720033 solid;
}

.mission-infos {
    margin: 1%;
    margin-left: 13%;
}

.signature {
    text-align: right;
    float: right;
    margin: 3%;
}

.petit-nombre {
    width: 50px;
}

.mission-lead {
    display: block;
}

#rapport {
    text-align: center;
    margin: 50px 54px 0px auto;
}

#sorts-header {
    padding: 0px 0px 0px 0px;
    margin: auto;
    border-bottom: 0;
    border-radius: 3px;
    background: url("/static/site/images/classes-head.png") no-repeat center;
    height: 90px;
}

#sorts-header:hover {
    cursor: pointer;
    box-shadow: 0 0 3pt 2pt #830205;
    border-radius: 5px;
}

#sorts-header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #830205;
    margin: 2% 0% 3% 0px;
    font-size: 283%;
    font-family: morpheus;
    padding-top: 20px;
}

.classe {
    width: 200px;
    height: 300px;
    position: relative;
}

.classe-druid {
    background: url("/static/site/images/druidclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-hunter {
    background: url("/static/site/images/huntclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-mage {
    background: url("/static/site/images/mageclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-paladin {
    background: url("/static/site/images/paladinclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-priest {
    background: url("/static/site/images/priestclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-shaman {
    background: url("/static/site/images/shamanclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.sorts-body {
    width: 1200px;
    margin: auto;
}

.classe-icone {
    position: absolute;
    left: 50px;
    top: 50px;
}

.classe-nom {
    position: absolute;
    top: 150px;
    text-align: center;
    width: 164px;
    font-family: morpheus;
    font-size: 130%;
}

.classe a {
    color: #fff;
    text-shadow: 1px 1px #3f0305;
}

.classes {
    display: flex;
    flex-wrap: wrap;
    margin: 3% auto;
    width: 800px;
    justify-content: space-around;
}

.sorts {
    width: 660px;
    height: 530px;
    margin: 151px 10px auto 193px;
    display: flex;
    flex-wrap: wrap;
    color: #f3cb29;
    text-shadow: 2px 2px #654303;
    font-size: 120%;
}

.sort {
    width: 310px;
    height: 80px;
    margin-top: 0;
}

.sorts-pages {
    width: 700px;
    margin: 50px auto;
}

.sorts-pager {
    float: right;
}

.clear {
    clear: both;
}

.tooltip-inner {
    max-width: 400px;
}

.select2-results__option {
    color: #000;
}

.haut {
    vertical-align: top;
}

#house-display {
    background: url("/static/site/images/house.PNG") no-repeat center;
    width: 1000px;
    height: 900px;
    margin: 3% auto;
    color: #fefefe;
    background-size: cover;
    border: 1px groove #edd5a9;
    border-radius: 3px;
}

#human-panel {
    border: 1px;
    background-color: #000000;
    border-color: #470002;
}

#human-panel-heading {
    background-image: url("/static/fiches/images/separator.jpg");
    background-color: #000000;
    padding: 10px 15px;
    border: 1px solid #470002;
    border-radius: 5px;
    color: #830205;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-color: #470002;
    text-shadow: -1px -1px #000;
    display: flex;
}

#human-panel-title {
    border: 1px solid #470002;
    border-radius: 5px;
    flex: 1;
    font-family: morpheus;
}

#human-panel-body {
    border: 1px solid #470002;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.human-btn {
    color: #ddd;
    background: #470002;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #6e1618;
    font-weight: normal;
}

.human-btn:focus,
.human-btn:hover {
    color: #fefefe;
    background: #7e0609;
    font-weight: normal;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #6e1618;
}

.greyed {
    color: #9f9f9f;
}

.maisons table, tr, td, th{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #4d4d4d;
}

.maisons table tr td a {
    display:block;
    height:100%;
    width:100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
}

.maisons .pagination > li > a,
.maisons .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: 1px;
    line-height: 1.42857143;
    color: #fefefe;
    text-decoration: none;
    background-color: #470002;
    border: 1px solid #4d4d4d;
}

.maisons .pagination > li > a:focus,
.maisons .pagination > li > a:hover,
.maisons .pagination > li > span:focus,
.maisons .pagination > li > span:hover {
    color: #fff;
    background-color: #e4cd51;
    border-color: #fff;
}

.maisons select {
    color: initial;
}

.lordaeron {
    background-image: url("/static/site/images/lord2.png");
    background-repeat: no-repeat;
    background-size: 20%;
    margin: auto;
    background-position: center;
}

#maisons-header {
    text-align: center;
    border-bottom: 1px solid #4d4d4d;
}

.accompli {
    position: absolute;
    color: red;
    font-weight: bold;
    transform: rotate(-4deg);
    left: 40%;
    font-family: morpheus;
    top: -9px;
    font-size: 60px;
    font-size: 4vw;
}
