@font-face{
    font-family: "Morpheus";
    src: url('/static/MORPHEUS.TTF'),
    url('/static/MORPHEUS.TTF'); /* IE */
}

body {
    background-color: #000000;
    color: #fefefe;
}

h1 {
    color: #830205;
    font-family: morpheus;
}

a {
    color: #a72121;
}

a:focus,
a:hover {
    color: #fefefe;
}

#quest-short.media {
    width: 80%;
    background-color: #000000;
    background-image: url("/static/site/images/parchment-light.jpg");
    padding: 10px 15px;
    border: 5px outset #fff;
    border-radius: 5px 20px;
    margin: 4% auto;
    color: #000;
    display: flex;
}

#quest-short:hover {
    cursor: pointer;
}

.quest-body {
    width: 80%;
    background-color: #000;
    margin: 0% auto;
    padding: 0% 0% 4% 0%;
    border-radius: 5px;
}

#quest-header {
    background-image: url("/static/site/images/parchment-light2.jpg");
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
    border-bottom: 0;
    border: 1px ridge #edd5a9;
    border-radius: 3px;
}

#quest-header:hover {
    cursor: pointer;
    outline: 2px solid #edd5a9;
    border-radius: 5px;
}

.quest-head {
    /* background-image: url("/static/site/images/palbar.PNG"); */
    background-repeat: no-repeat;
    padding: 5px 1px;
    border: 0px;
    margin: 0%;
    background-position: center bottom;
}

#quest-header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #a97209;
    margin: 2% 0% 3% 0px;
    font-size: 283%;
    font-family: morpheus;
}

#quest-display {
    background: url("/static/site/images/page.PNG") no-repeat center;
    width: 1000px;
    height: 900px;
    margin: 3% auto;
    color: #000;
    background-size: cover;
    border: 5px groove #edd5a9;
    border-radius: 3px;
}

.quest-target {
    height: 200px;
    position: relative;
    left: 280px;
    top: 0px;
}

.quest-portrait-frame {
    height: 200px;
    position: absolute;
    left: 170px;
    bottom: 0;
}

.quest-portrait {
    transform: translate(417px, 25px) scale(0.84);
}

.quest-portrait-name {
    color: #fff;
    position: absolute;
    width: 170px;
    text-align: center;
    transform: translate(88px, 52px) scale(1.1);
}

.quest-icon {
    margin: 1px;
    width: 26px;
}

.back {
    background-color: #000;
    background-image: url("/static/site/images/parchment-light2.jpg");
    width: 100%;
    overflow: hidden;
    border: 5px ridge #edd5a9;
    border-radius: 3px;
    margin: 3% auto;
}

.black {
    background-color: #000;
}

.quest-attributes {
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 100px;
    height: 550px;
    font-size: 20px;
}

.quest-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 20px 50px 20px;
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #a97209;
}

.quest-objective {
    margin: 0px 20px 20px 20px;
    display: block;
    text-align: center;
}

.quest-other-attributes {
    margin: 0px 20px;
    display: block;
}

.quest-pages {
    float: right;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fefefe;
    text-decoration: none;
    background-color: #e4b951;
    border: 1px solid #fff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fff;
    background-color: #e4cd51;
    border-color: #fff;
}

.btn-default {
    color: #ddd;
    background: #e4b951;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #fff;
}

.btn-default:focus,
.btn-default:hover {
    color: #fefefe;
    background: #e4cd51;
    padding: 7px 7px;
    text-decoration: none;
    position: relative;
    border: 1px solid #fff;
}

#centre {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

input, textarea {
    color: #000;
}

#id_reservee {
    color: #000;
}

.icones-text {
    border: 1px solid beige;
    flex: 1;
}

.icones {
    width: 64px;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.campaign-body {
    width: 80%;
    background-color: #000;
    margin: 0% auto;
    padding: 0% 0% 4% 0%;
    border-radius: 5px;
}

.fond {
    background-image: url("/static/site/images/palbg.PNG");
    background-size: cover;
    width: 1050px;
    height: 722px;
    margin: auto;
}

.fond optgroup,
.fond select,
.fond textarea {
    color: 000;
}

#campaign-header {
    background-image: url("/static/site/images/bar2.PNG");
    padding: 0px 0px 0px 0px;
    border: 1px ridge #474543;
    border-radius: 3px;
    background-size: cover;
    width: 1050px;
    margin: 3% auto;
}

#campaign-header:hover {
    cursor: pointer;
    outline: 2px solid #edd5a9;
    border-radius: 5px;
}

.campaign-head {
    /* background-image: url("/static/site/images/palbar.PNG"); */
    background-repeat: no-repeat;
    padding: 5px 1px;
    border: 0px;
    margin: 0%;
    background-position: center bottom;
}

#campaign-header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #a97209;
    margin: 2% 0% 3% 0px;
    font-size: 283%;
    font-family: morpheus;
}

#campaign-display {
    background: url("/static/site/images/page.PNG") no-repeat center;
    width: 1000px;
    height: 900px;
    margin: 3% auto;
    color: #000;
    background-size: cover;
    border: 1px groove #edd5a9;
    border-radius: 3px;
}

.btn-campaign {
    color: #fff;
    font-size: 110%;
    background: #c872001a;
    border: 1px #c8720033 solid;
    margin: 2%;
}

.btn-campaign:hover,
.btn-campaign:focus {
    color: #c87200;
    background-color: #fefefe;
    border: 1px #c8720033 solid;
}

.campaigns {
    margin: 0% auto;
    width: 80%;
    padding: 100px 0%;
}

.campaign {
    text-align: center;
}

.pagination-campaign > li > a,
.pagination-campaign > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fefefe;
    text-decoration: none;
    background-color: #c872001a;
    border: 1px #c8720033 solid;
}

.pagination-campaign > li > a:focus,
.pagination-campaign > li > a:hover,
.pagination-campaign > li > span:focus,
.pagination-campaign > li > span:hover {
    color: #fff;
    background-color: #c872001a;
    border: 1px #c8720033 solid;
}

.mission {
    text-align: center;
    padding: 3%;
}

.mission a {
    color: #fff;
    background-color: #c872001a;
    border: 1px #c8720033 solid;
    margin: 2%;
    border-radius: 12px;
    padding: 5px;
}

.mission h1 {
    margin: 3%;
}

.mission-pages {
    width: 1050px;
    margin: auto;
}

.mission-pager li > a, .mission-pager li > span {
    color: #fff;
    background-color: #c872001a;
    border: 1px #c8720033 solid;
}

.mission-pager li > a:focus,
.mission-pager li > a:hover,
.mission-pager li > span:focus,
.mission-pager li > span:hover {
    color: #c87200;
    background-color: #fefefe;
    border: 1px #c8720033 solid;
}

.mission-infos {
    margin: 1%;
}

.signature {
    text-align: right;
    float: right;
    margin: 3%;
}

.petit-nombre {
    width: 50px;
}

.mission-lead {
    display: block;
}

#rapport {
    text-align: center;
    margin: 50px 54px 0px auto;
    height: 600px;
    width: 800px;
}

#sorts-header {
    padding: 0px 0px 0px 0px;
    margin: auto;
    border-bottom: 0;
    border-radius: 3px;
    background: url("/static/site/images/classes-head.png") no-repeat center;
    height: 90px;
}

#sorts-header:hover {
    cursor: pointer;
    box-shadow: 0 0 3pt 2pt #830205;
    border-radius: 5px;
}

#sorts-header h1 {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #830205;
    margin: 2% 0% 3% 0px;
    font-size: 283%;
    font-family: morpheus;
    padding-top: 20px;
}

.classe {
    width: 200px;
    height: 300px;
    position: relative;
}

.classe-druid {
    background: url("/static/site/images/druidclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-hunter {
    background: url("/static/site/images/huntclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-mage {
    background: url("/static/site/images/mageclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-paladin {
    background: url("/static/site/images/paladinclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-priest {
    background: url("/static/site/images/priestclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.classe-shaman {
    background: url("/static/site/images/shamanclass.PNG") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.sorts-body {
    width: 1200px;
    margin: auto;
}

.classe-icone {
    position: absolute;
    left: 50px;
    top: 50px;
}

.classe-nom {
    position: absolute;
    top: 150px;
    text-align: center;
    width: 164px;
    font-family: morpheus;
    font-size: 130%;
}

.classe a {
    color: #fff;
    text-shadow: 1px 1px #3f0305;
}

.classes {
    display: flex;
    flex-wrap: wrap;
    margin: 3% auto;
    width: 800px;
    justify-content: space-around;
}

.sorts {
    width: 660px;
    height: 530px;
    margin: 151px 10px auto 193px;
    display: flex;
    flex-wrap: wrap;
    color: #f3cb29;
    text-shadow: 2px 2px #654303;
    font-size: 120%;
}

.sort {
    width: 310px;
    height: 80px;
    margin-top: 0;
}

.sorts-pages {
    width: 700px;
    margin: 50px auto;
}

.sorts-pager {
    float: right;
}

.clear {
    clear: both;
}

.tooltip-inner {
    max-width: 400px;
}